{% extends "Public/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>Inventory</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/Inventory/inventory.css' %}">{% endcomment %}
{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Layout:layout' %}"><i class="fas fa-edit"></i> Layout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Inventory:inventory' %}"><i class="fas fa-warehouse"></i> Inventory</a>
    </li>
{% endblock %}


{% block content %}
    <div class="container mt-3">
        {% if user.is_authenticated and user_type == 'Manager' %}
            <h2><a href="{% url 'Venue:venue' current_access.pk %}">{{ current_access.name }}</a>'s Inventory</h2>
        {% elif user.is_authenticated and user_type == 'Organizer' %}
            <h2><a href="#">{{ current_access.name }}</a>'s Inventory</h2>
        {% elif user.is_authenticated and user_type == 'Exhibitor' %}
            <h2><a href="#">{{ current_access.name }}</a>'s Inventory</h2>
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Is Public</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    {% if category.image %}
                        <td><img src="{{ category.image.url }}" alt="{{ category.name }}"
                                 style="width:100px; height:auto;"></td>
                    {% endif %}
                    <td>{{ category.is_public }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.items_quantity }}</td>
                    <td>
                        <a href="{% url 'Inventory:category_detail' category.pk %}"
                           class="btn btn-info btn-sm">View Detail</a>
                        <a href="{% url 'Inventory:edit-category' category.pk %}"
                           class="btn btn-secondary btn-sm">Modify</a>
                        <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete({{ category.id }})">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 添加库存按钮 -->
    <a href="#" class="btn btn-primary rounded-circle shadow" id="add-venue-btn"
       style="position: fixed; bottom: 100px; right: 20px; z-index: 1040; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 30px;"
       onclick="openAddInventoryModal();"> <!-- 这里改为调用函数 -->
        +
    </a>

    {# 添加库存的模态框 #}
    <div class="modal fade" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addInventoryModal">Add Supplies to the Inventory</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addInventoryForm" method="post"
                          enctype="multipart/form-data" class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        {{ add_inventory_form|crispy }}
                        <input type="hidden" name="venue_id" id="venue_id" value="{{ current_access.pk }}">
                        <div id="add_inventory-message-container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        function confirmDelete(categoryId) {
            if (confirm('Are you sure to delete this category and all its items?')) {
                window.location.href = `{% url 'Inventory:delete-category' 0 %}`.replace('/0/', '/' + categoryId + '/');
            }
        }

        function openAddInventoryModal() {
            const filterModal = new bootstrap.Modal(document.getElementById('addInventoryModal'));
            filterModal.show();
        }

        document.addEventListener('DOMContentLoaded', function () {
            const addInventoryForm = document.getElementById('addInventoryForm');
            addInventoryForm.addEventListener('submit', function (e) {
                e.preventDefault();  // 阻止表单的默认提交行为
                const formData = new FormData(addInventoryForm);
                axios.post('{% url 'Inventory:inventory' %}', formData)
                    .then(function (response) {
                        if (response.data.success) { // 如果提交成功，显示成功消息
                            const addInventoryModal = new bootstrap.Modal(document.getElementById('addInventoryModal'), {});
                            const messageContainer = document.getElementById('add_inventory-message-container');
                            messageContainer.innerHTML = '<div class="alert alert-success">' + response.data.success + '</div>';
                            messageContainer.style.display = 'block';
                            // 设置定时器等待1.5秒后关闭模态框并刷新页面
                            setTimeout(function () {
                                addInventoryModal.hide(); // 关闭模态框
                                window.location.reload(); // 刷新页面
                            }, 1500); // 1500毫秒后执行
                        }
                    })
                    .catch(function (error) {
                        let errorMessage = error.message;
                        // 如果错误中有响应并且有数据并且数据中有错误信息，则使用服务器的错误信息
                        if (error.response && error.response.data && error.response.data.errors) {
                            errorMessage = error.response.data.errors;
                        }
                        document.getElementById('add_inventory-message-container').innerHTML = '<div class="alert alert-danger">Error: ' + errorMessage + '</div>';
                    });
            });
        });
    </script>
{% endblock %}