{% extends "Public/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>Inventory</title>
    {#    <link rel="stylesheet" href="{% static 'css/Inventory/inventory.css' %}">#}
{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Layout:layout' %}"><i class="fas fa-edit"></i> Layout</a>
    </li>
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <br>
        <div style="display: inline-block; background-color: rgba(92, 92, 92, 0.5); border-radius: 10px; padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); width: fit-content;">
            <h2 style="margin: 0;"> <a href="{% url 'Venue:venue' current_access.pk %}">{{ current_access.name }}</a> Inventory</h2>
        </div>
        <br>

        <table class="table table-hover table-striped text-white shadow-sm">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Is Public</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    {% if category.image %}
                        <td><img src="{{ category.image.url }}" alt="{{ category.name }}"
                                 style="width:100px; height:auto;"></td>
                    {% else %}
                        <td>No Image</td>
                    {% endif %}
                    <td>{{ category.is_public }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.items_quantity }}</td>
                    <td>
                        <a href="{% url 'Inventory:category_detail' category.pk %}" class="btn btn-secondary btn-sm">Detail</a>
                        <a href="{% url 'Inventory:edit-category' category.pk %}"
                           class="btn btn-success btn-sm">Modify</a>
                        <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete({{ category.id }})">
                            Delete
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-white">No resource found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- 申请库存按钮 -->
    {% if user.is_authenticated and user_type != 'Manager' %}
        <a href="#" class="btn btn-success rounded-circle shadow" id="add-venue-btn"
           style="position: fixed; bottom: 170px; right: 20px; z-index: 1040; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 30px;"
           onclick="openResApplyModal();" title="Apply for resources">
            📝
        </a>
    {% endif %}
    <!-- 添加库存按钮 -->
    <a href="#" class="btn btn-success rounded-circle shadow" id="add-venue-btn"
       style="position: fixed; bottom: 100px; right: 20px; z-index: 1040; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 30px;"
       onclick="openAddInventoryModal();" title="Add custom resources">
        +
    </a>

    {# 添加库存的模态框 #}
    <div class="modal fade" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addInventoryModal">Add new resource to the Inventory</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addInventoryForm" method="post"
                          enctype="multipart/form-data" class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        {{ add_inventory_form|crispy }}
                        <input type="hidden" name="venue_id" id="venue_id" value="{{ current_access.pk }}">
                        <div id="add_inventory-message-container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# 申请库存的模态框 #}
    <div class="modal fade" id="createResApplyModal" tabindex="-1" aria-labelledby="createResApplyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createResApplyModal">Apply for New Resources</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createResApplyForm" method="post"
                          enctype="multipart/form-data" class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        {{ application_form|crispy }}
                        <input type="hidden" name="venue_id" id="venue_id" value="{{ current_access.pk }}">
                        <div id="application-form-container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        function confirmDelete(categoryId) {
            if (confirm('Are you sure to delete this category and all its items?')) {
                window.location.href = `{% url 'Inventory:delete-category' 0 %}`.replace('/0/', '/' + categoryId + '/');
            }
        }

        function openAddInventoryModal() {
            const filterModal = new bootstrap.Modal(document.getElementById('addInventoryModal'));
            filterModal.show();
        }

        function openResApplyModal() {
            const filterModal = new bootstrap.Modal(document.getElementById('createResApplyModal'));
            filterModal.show();
        }

        document.addEventListener('DOMContentLoaded', function () {
            const addInventoryForm = document.getElementById('addInventoryForm');
            addInventoryForm.addEventListener('submit', function (e) {
                e.preventDefault();  // 阻止表单的默认提交行为
                const formData = new FormData(addInventoryForm);
                {% if not exhibition.id %}
                    console.error('Invalid exhibition ID');
                {% else %}
                    console.log('Exhibition ID:', {{ exhibition.id }});
                {% endif %}
                axios.post('{% url 'Inventory:inventory' space_type space_id %}', formData)
                    .then(function (response) {
                        if (response.data.success) { // 如果提交成功，显示成功消息
                            const addInventoryModal = new bootstrap.Modal(document.getElementById('addInventoryModal'), {});
                            const messageContainer = document.getElementById('add_inventory-message-container');
                            messageContainer.innerHTML = '<div class="alert alert-success">' + response.data.success + '</div>';
                            messageContainer.style.display = 'block';
                            // 设置定时器等待1.5秒后关闭模态框并刷新页面
                            setTimeout(function () {
                                addInventoryModal.hide(); // 关闭模态框
                                window.location.reload(); // 刷新页面
                            }, 1500); // 1500毫秒后执行
                        }
                    })
                    .catch(function (error) {
                        let errorMessage = error.message;
                        // 如果错误中有响应并且有数据并且数据中有错误信息，则使用服务器的错误信息
                        if (error.response && error.response.data && error.response.data.errors) {
                            errorMessage = error.response.data.errors;
                        }
                        document.getElementById('add_inventory-message-container').innerHTML = '<div class="alert alert-danger">Error: ' + errorMessage + '</div>';
                    });
            });

            const createResApplyForm = document.getElementById('createResApplyForm');
            createResApplyForm.addEventListener('submit', function (e) {
                e.preventDefault();  // 阻止表单的默认提交行为
                const container = document.getElementById('application-form-container');
                const formData = new FormData(createResApplyForm);
                formData.set('booth_id', {{ current_access.pk }}); // 设置展位ID
                for (let pair of formData.entries())
                    console.log(pair[0] + ', ' + pair[1]);
                axios.post('{% url 'Inventory:create_res_application' %}', formData, {
                    headers: {
                        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,  // 在请求头中包含CSRF令牌
                        'Content-Type': 'multipart/form-data'  // 发送文件时很重要
                    }
                }).then(response => {
                    if (response.data.success) { // 如果提交成功，显示成功消息
                        container.innerHTML = `<div class="alert alert-success">${response.data.success}</div>`;
                        const modal = new bootstrap.Modal(document.getElementById('createResApplyModal'));
                        setTimeout(() => {
                            modal.hide();
                            window.location.reload();
                        }, 1500);
                    }
                }).catch(error => {
                    // 记录或处理错误
                    console.error(error);
                    container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                    container.style.display = 'block';  // Make sure the message container is visible
                });
            });
        });
    </script>
{% endblock %}