{% extends "Public/base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>场馆物资</h2>
    <!-- 添加按钮 -->
    <button type="button" class="btn btn-primary mb-3">添加物品</button>
    <table class="table">
        <thead>
            <tr>
                <th>名称</th>
                <th>是否私有</th>
                <th>描述</th>
                <th>物品数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.is_private}}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.items_count }}</td>
                <td>
                    <a href="{% url 'Inventory:category_detail' category.id %}" class="btn btn-info btn-sm">查看详情</a>
                    <a href="{% url 'Inventory:edit-category' category.id %}" class="btn btn-secondary btn-sm">修改信息</a>
                    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete({{ category.id }})">删除</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
    <script>
    function confirmDelete(categoryId) {
        if (confirm('确认删除这个类别及其所有物品吗？')) {
            window.location.href = "{% url 'Inventory:delete-category' 123 %}".replace('123', categoryId);
        }
    }
    </script>
{% endblock %}