{% extends "Public/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/Venue/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for venue in venues %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        {% if venue.image %}
                            <a href="{% url 'Venue:venue' venue.id %}">
                                <img src="{{ venue.image.url }}" class="card-img-top" alt="{{ venue.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'Venue:venue' venue.id %}" class="text-decoration-none">{{ venue.name }}</a>
                            </h5>
                            <p class="card-text">{{ venue.address }}</p>
                            <p class="card-text">Area: {{ venue.area }} m²</p>
                            <p class="card-text">Floor: {{ venue.floor }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Floating Action Button -->
    {% if user.is_authenticated and is_manager %}
        <a href="#" class="btn btn-primary rounded-circle shadow" id="add-venue-btn"
           style="position: fixed; bottom: 100px; right: 20px; z-index: 1040; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 30px;"
           data-bs-toggle="modal" data-bs-target="#venueModal">
            +
        </a>
    {% endif %}
    <!-- Modal for creating a new venue -->
    <div class="modal fade" id="venueModal" tabindex="-1" aria-labelledby="venueModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a Venue</h5>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div id="message-container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Venue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('venueModal'), {});
            // 监听悬浮按钮点击事件，显示模态框
            document.getElementById('add-venue-btn').addEventListener('click', function () {
                myModal.show();
            });

            // 表单提交处理
            var form = document.querySelector('form');
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                var formData = new FormData(form);
                axios.post(' {% url 'Venue:home' %}', formData).then(function (response) {
                    var messageContainer = document.getElementById('message-container');
                    if (response.data.success) {
                        messageContainer.innerHTML = `<div class="alert alert-success">${response.data.success}</div>`;
                        messageContainer.style.display = 'block';  // Make sure the message container is visible
                        // 设置定时器等待1.5秒后关闭模态框并刷新页面
                        setTimeout(function () {
                            myModal.hide(); // 关闭模态框
                            window.location.reload(); // 刷新页面
                        }, 1500); // 1500毫秒后执行
                    }
                    if (response.data.errors) {
                        messageContainer.innerHTML = `<div class="alert alert-danger">${response.data.errors}</div>`;
                        messageContainer.style.display = 'block';  // Make sure the message container is visible
                    }
                }).catch(function (error) {
                    console.log('An error occurred:', error);
                });
            });
        });
    </script>
{% endblock %}
