annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
certifi==2024.2.2
colorama==0.4.6
crispy-bootstrap5==2024.2
distro==1.9.0
Django==5.0.3
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-extensions==3.2.3
djangorestframework==3.15.1
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
markdown2==2.4.13
MarkupSafe==2.1.5
mysqlclient==2.2.4
openai==1.25.2
packaging==24.0
pillow==10.3.0
pydantic==2.7.1
pydantic_core==2.18.2
pydotplus==2.0.2
pyparsing==3.1.2
python-dotenv==1.0.1
sniffio==1.3.1
sqlparse==0.4.4
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
whitenoise==6.6.0
