#konva-container {
    position: relative;
    height: 95%;
    width: 95%;
    border: 2px solid #ccc;
    background: #607180; /* 提供一个背景以便在内容加载前显示 */
    box-sizing: border-box; /* 包含边框和内边距在内的总宽高 */
    overflow: hidden; /* 防止内容溢出 */
    margin: 0 auto; /* 居中 */
}
