#stage-container {
    /* 添加边框 */
    border: 2px solid #ccc !important;
    /* 添加阴影 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
    margin: 10px; /* 添加一些外边距 */
}

/*控制椭圆形的图表*/
.ellipse-icon {
    font-family: 'Material Icons', fangsong; /* 使用 Material Icons 字体 */
    font-size: 24px; /* 调整图标大小 */
    width: 50px; /* 调整宽度 */
    height: 30px; /* 调整高度 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* 圆角为50%会呈现椭圆形 */
    background-color: #000000; /* 可选的背景颜色 */
}

#konva-container {
    position: relative;
    height: 95%;
    width: 95%;
    box-sizing: border-box; /* 包含边框和内边距在内的总宽高 */
    overflow: hidden; /* 防止内容溢出 */
    margin: 0 auto; /* 居中 */

    top: 2.5%;  /* 中心定位 */
    border: 1px solid #ccc;  /* 浅灰色边框 */
    background-color: #fff;  /* 白色背景 */
    border-radius: 10px;  /* 圆角边框 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* 轻微阴影 */
}
