.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #009631;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-primary {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #009631;
    border: none;
}

.message-info {
    font-size: 2rem;
    text-align: center;
}

