@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.profile-container {
    max-width: 700px;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
}

.font-artistic {
    font-family: 'Pacifico', cursive;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.form-control, .form-control-plaintext {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card {
    background-color: #009631;
}

.card-header {
    background-color: #009631;
}

.card-body {
    padding: 2rem;
    background-color: #f8f9fa;
    color: #212529;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background: url('../../images/User/poster.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f8f9fa;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.row {
    margin-bottom: 1rem;
}

.profile-title {
    text-align: center; /* 文本居中 */
    font-family: 'Great Vibes', cursive; /* 应用 'Great Vibes' 字体或其他您选择的字体 */
    color: #fff; /* 根据背景调整字体颜色 */
    font-size: 3rem; /* 调整字体大小 */
    margin-top: 1rem; /* 如果需要的话，调整上边距以使其与容器边缘对齐 */
    margin-bottom: 1rem; /* 调整下边距以提供足够的空间 */
    /* 添加更多样式来增强视觉效果 */
}
