@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
.container {
    max-width: 600px;
    margin: 4rem auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.form-control {
    margin-bottom: 1rem;
    padding: 0.3rem;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
}

.btn-primary {
    padding: 0.5rem;
    margin-top: 0.2rem;
    width: 100%;
    background-color: #009631;
    border: none;
}

.btn-primary:hover {
    background-color: #009631;
    transition: background-color 0.3s;
}

.register-title {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: #fff;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.alert {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.form-label,
p,
a {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.container {
    margin-top: 100px;
}