@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.container {
    max-width: 600px;
    margin: 4rem auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 1rem;
    padding: 0.3rem;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
}

.btn-primary {
    padding: 0.5rem;
    margin-top: 0.2rem;
    width: 100%;
    background-color: #009631;
    border: none;
}

.btn-primary:hover {
    background-color: #009631;
    transition: background-color 0.3s;
}

.register-title {
    text-align: center; /* 文本居中 */
    font-family: 'Great Vibes', cursive; /* 应用 'Great Vibes' 字体或其他您选择的字体 */
    color: #fff; /* 根据背景调整字体颜色 */
    font-size: 3rem; /* 调整字体大小 */
    margin-top: 0; /* 如果需要的话，调整上边距以使其与容器边缘对齐 */
    margin-bottom: 1rem; /* 调整下边距以提供足够的空间 */
    /* 添加更多样式来增强视觉效果 */
}

.alert {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}