{% extends 'Public/base.html' %}
{% load static %}

{% block extra_head %}
    <title>Statistic</title>
    <link rel="stylesheet" href="{% static 'css/Statistic/statistic' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:layout' %}"><i class="fas fa-edit"></i> Layout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Statistics</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Bar Chart</h5>
                        <canvas id="barChart" style="max-height: 250px"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Pie Chart</h5>
                        <canvas id="pieChart" style="max-height: 250px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Line Chart</h5>
                        <canvas id="lineChart" style="max-height: 250px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#输入框#}
    <div class="controls d-flex justify-content-center align-items-end mb-3">
        <div class="me-2">
            <label for="labelInput" class="form-label">Label</label>
            <input type="text" id="labelInput" class="form-control" placeholder="Label">
        </div>
        <div class="me-2">
            <label for="dataInput" class="form-label">Data</label>
            <input type="number" id="dataInput" class="form-control" placeholder="Data">
        </div>
        <div class="d-flex justify-content-end">
            <button onclick="addData()" class="btn btn-success me-2">Add Data</button>
            <button onclick="selectYear()" class="btn btn-success me-2">Select year</button>
            <button onclick="fetchVenues()" class="btn btn-success">Select venue</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let barChartData = {
            labels: [],
            datasets: [{
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        };

        let lineChartData = {
            labels: [],
            datasets: [{
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        };

        let pieChartData = {
            labels: [],
            datasets: [{
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        };

        let barChart, lineChart, pieChart;


        function createBarChart() {
            console.log("start")
            const ctx = document.getElementById('barChart').getContext('2d');
            console.log(barChartData.datasets[0].data.length)
            if (barChartData.datasets[0].data.length > 0) {
                document.getElementById('barChart').parentElement.parentElement.style.display = 'block';
                barChart = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        plugins: {
                            legend: {display: false},
                            title: {display: true, text: 'Bar Chart'}
                        },
                        scales: {y: {beginAtZero: true}}
                    }
                });
            } else {
                console.log("end")
                document.getElementById('barChart').parentElement.parentElement.style.display = 'none';
            }
        }

        function createLineChart() {
            const ctx = document.getElementById('lineChart').getContext('2d');
            if (lineChartData.datasets[0].data.length > 0) {
                document.getElementById('lineChart').parentElement.parentElement.style.display = 'block';
                lineChart = new Chart(ctx, {
                    type: 'line',
                    data: lineChartData,
                    options: {
                        plugins: {
                            legend: {display: false},
                            title: {display: true, text: 'Line Chart'}
                        },
                        scales: {y: {beginAtZero: true}}
                    }
                });
            } else {
                document.getElementById('lineChart').parentElement.parentElement.style.display = 'none';
            }
        }

        function createPieChart() {
            const ctx = document.getElementById('pieChart').getContext('2d');
            if (pieChartData.datasets[0].data.length > 0) {
                document.getElementById('pieChart').parentElement.parentElement.style.display = 'block';
                pieChart = new Chart(ctx, {
                    type: 'pie',
                    data: pieChartData,
                    options: {
                        plugins: {
                            legend: {display: false},
                            title: {display: true, text: 'Pie Chart'}
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            } else {
                document.getElementById('pieChart').parentElement.parentElement.style.display = 'none';
            }
        }

        function addData() {
            const labelInput = document.getElementById('labelInput');
            const dataInput = document.getElementById('dataInput');

            if (labelInput.value && dataInput.value) {
                barChartData.labels.push(labelInput.value);
                barChartData.datasets[0].data.push(dataInput.value);

                lineChartData.labels.push(labelInput.value);
                lineChartData.datasets[0].data.push(dataInput.value);

                pieChartData.labels.push(labelInput.value);
                pieChartData.datasets[0].data.push(dataInput.value);

                if (barChart) {
                    barChart.update();
                }
                if (lineChart) {
                    lineChart.update();
                }
                if (pieChart) {
                    pieChart.update();
                }

                labelInput.value = '';
                dataInput.value = '';

                createBarChart();
                createLineChart();
                createPieChart();
            }
        }

        createBarChart();
        createLineChart();
        createPieChart();

        function removeData(datasetIndex, index) {
            if (barChartData.labels.length > index) {
                barChartData.labels.splice(index, 1);
                barChartData.datasets[datasetIndex].data.splice(index, 1);
                barChart.update();
            }
            if (lineChartData.labels.length > index) {
                lineChartData.labels.splice(index, 1);
                lineChartData.datasets[datasetIndex].data.splice(index, 1);
                lineChart.update();
            }
            if (pieChartData.labels.length > index) {
                pieChartData.labels.splice(index, 1);
                pieChartData.datasets[datasetIndex].data.splice(index, 1);
                pieChart.update();
            }
        }

        function selectDataSource(waterStatistics, electricStatistics) {
            const selectedDataSource = prompt("Please select a data source: 'water' or 'electric' or 'object");

            if (selectedDataSource === 'water') {
                updateChartTitle('Water Usage (tons)');
                updateChartData(waterStatistics);
            } else if (selectedDataSource === 'electric') {
                updateChartTitle('Electric Usage (kWh)');
                updateChartData(electricStatistics);
            } else if (selectedDataSource === 'object') {
                updateChartTitle('Object Usage');
                updateChartData(objectStatistics);
            } else {
                alert('Invalid data source selected!');
            }
        }


        function updateChartTitle(title) {
            barChart.options.plugins.title.text = title;
            lineChart.options.plugins.title.text = title;
            pieChart.options.plugins.title.text = title;
            barChart.update();
            lineChart.update();
            pieChart.update();
        }


        function updateChartData(data) {
            barChartData.labels = [];
            barChartData.datasets[0].data = [];

            lineChartData.labels = [];
            lineChartData.datasets[0].data = [];

            pieChartData.labels = [];
            pieChartData.datasets[0].data = [];

            for (const month in data) {
                barChartData.labels.push(month);
                barChartData.datasets[0].data.push(data[month]);

                lineChartData.labels.push(month);
                lineChartData.datasets[0].data.push(data[month]);

                pieChartData.labels.push(month);
                pieChartData.datasets[0].data.push(data[month]);
            }

            barChart.update();
            lineChart.update();
            pieChart.update();
        }



        function fetchVenues() {
            const url = `{% url 'Statistic:get_venues' %}`;
            fetch(url)
                .then(response => response.json())
                .then(venues => {
                    selectVenue(venues);
                })
                .catch(error => {
                    console.error('Error fetching venues:', error);
                    alert('Failed to fetch venue names.');
                });
        }



        function selectVenue(venues) {
            const venueList = venues.join('\n');
            const selectedVenue = prompt(`Please enter the venue name from the following list:\n${venueList}`);
            if (!venues.includes(selectedVenue)) {
                alert('Invalid venue name entered!');
                return;
            }

            const selectedYear = prompt("Please enter the year (e.g., 2024):");

            if (selectedYear && !isNaN(selectedYear)) {
                const year = parseInt(selectedYear);
                const url = `{% url 'Statistic:get_consumption_data_by_venue' 'venue_placeholder' 9999 %}`
                    .replace(9999, year)
                    .replace('venue_placeholder', encodeURIComponent(selectedVenue));

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // 提取出用水量和用电量的数据并传递给 selectDataSource() 函数
                        const waterStatistics = data.water_statistics;
                        const electricStatistics = data.electric_statistics;

                        // 询问用户选择数据源
                        const chooseDataSource = confirm("Would you like to select a data source now?");
                        if (chooseDataSource) {
                            selectDataSource(waterStatistics, electricStatistics);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Failed to fetch data for the selected year.');
                    });
            } else {
                alert('Invalid year entered!');
            }
        }




        function selectYear() {
            const selectedYear = prompt("Please enter the year (e.g., 2024):");

            if (selectedYear && !isNaN(selectedYear)) {
                const year = parseInt(selectedYear);
                const url = `{% url 'Statistic:get_consumption_data' 9999 %}`.replace(9999, year);

                // 发送年份到后端以获取相应年份的用水量和用电量统计数据
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // 提取出用水量和用电量的数据并传递给 selectDataSource() 函数
                        const waterStatistics = data.water_statistics;
                        const electricStatistics = data.electric_statistics;

                        // 询问用户选择数据源
                        const chooseDataSource = confirm("Would you like to select a data source now?");
                        if (chooseDataSource) {
                            selectDataSource(waterStatistics, electricStatistics);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Failed to fetch data for the selected year.');
                    });
            } else {
                alert('Invalid year entered!');
            }
        }



    </script>
{% endblock %}



