{% extends 'Public/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>Watson</title>
    <link rel="stylesheet" href="{% static 'css/System/copilot.css' %}">
{% endblock %}

{% block extra_nav_icons %}
    <!-- Additional icons in the navigation bar -->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:layout' %}"><i class="fas fa-edit"></i> Layout</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h1 class="logo-title">Watson Copilot</h1>
                </div>
                <br>
                {% comment %} <p>Enter any problem you met:</p> {% endcomment %}
                <!-- Form for user input -->
                <div class="card" style="padding: 2rem">
                    <form method="post">
                        {% csrf_token %}
                        <br>
                        <textarea name="user_input" class="form-control" rows="3"
                                  placeholder="Type your question here..."></textarea>
                        <br>
                        <button type="submit" class="btn btn-success">Ask Watson</button>
                    </form>
                </div>
                <br>
                <!-- Area to display the chatbot's response -->
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                {% comment %} {% if user_input and response %}
                    <div class="card mb-3">
                    <div class="card-header">
                        <strong>You</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ user_input }}</p>
                    </div>
                </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>Watson</strong>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Q: {{ user_input }}</h5>
                            <p class="card-text">A: {{ response }}</p>
                        </div>
                    </div>
                {% endif %} {% endcomment %}
                {% for conversation in conversation_history %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>Watson</strong>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Q: {{ conversation.user_input }}</h5>
                            <p class="card-text">A: {{ conversation.copilot_response }}</p>
                        </div>
                    </div>
                {% endfor %}
                <br>
                <div class="alert alert-warning mt-4" role="alert">
                    <strong>Note:</strong> Watson Copilot is powered by LLM technology from OpenAI. While we
                    strive for accuracy, the responses can be imperfect. Always verify critical information
                    independently.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
