{% extends "Public/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>Inventory</title>
    <link rel="stylesheet" href="{% static 'css/System/inventory.css' %}">
{% endblock %}

{% block extra_nav_icons %}
    <!-- 使用 Bootstrap Icons -->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="bi bi-bar-chart"></i> Statistics</a>
        </li>
    {% endif %}
    <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:layout' %}"><i class="fas fa-edit"></i> Layout</a>
    </li>
    {#    <li class="nav-item">#}
    {#        <a class="nav-link" href="{% url 'Inventory:inventory ' %}"><i class="bi bi-box-seam"></i> Inventory</a>#}
    {#    </li>#}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Venue:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Venue:venue' current_space.pk %}">{{ current_space.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inventory</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user_type == 'Manager' %}
        <h1 class="logo-title"><a href="{% url 'Venue:venue' current_space.pk %}">{{ current_space.name }}</a> 
            <small>Inventory</small></h1>
    {% elif user.is_authenticated and user_type == 'Organizer' %}
        <h1 class="logo-title"><a
                href="{% url 'Exhibition:exhibition' current_space.pk %}">{{ current_space.name }}</a> <small>Inventory</small>
        </h1>
    {% elif user.is_authenticated and user_type == 'Exhibitor' %}
        <h1 class="logo-title"><a href="{% url 'Booth:booth' current_space.pk %}">{{ current_space.name }}</a> <small>Inventory</small>
        </h1>
    {% endif %}

    <div class="container mt-3">
        <div class="row">
            {% if categories|length == 0 %}
                <div class="col-12">
                    <h2 class="message-info" style="text-align: center">💤 No resource yet.</h2>
                </div>
            {% else %}
                <div class="card-columns">
                    {% for category in categories %}
                        <div class="card h-auto shadow-sm"
                             style="background-color: rgba(255, 255, 255, 0.4); border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);">
                            <a href="{% url 'Inventory:category_detail' category.pk %}" class="text-decoration-none">
                                <img src="{{ category.image.url }}" class="card-img-top img-fluid"
                                     alt="{{ category.name }}"
                                     style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
                            </a>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    {#文本区域#}
                                    <div>
                                        <h4 class="card-title" style="font-weight: bold">
                                            <a href="{% url 'Inventory:category_detail' category.pk %}"
                                               class="text-decoration-none"
                                               style="color: #333;">{{ category.name }}</a>
                                        </h4>
                                        <p class="card-text">{{ category.description }}</p>
                                        <p class="card-text ">
                                            <strong>Quantity: </strong>{{ category.items.all.count }}
                                        </p>
                                        <p class="card-text">
                                            <strong>Public: </strong>{{ category.is_public|yesno:"✅,❎" }}
                                        </p>
                                    </div>
                                    {#按钮区域#}
                                    <div class="d-flex flex-column">
                                        {% if is_owner %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-secondary btn-sm" 
                                                        onclick="openEditCategoryModal({{ category.pk }})">Modify</button>
                                                <button type="button" class="btn btn-danger btn-sm"
                                                        onclick="confirmDelete({{ category.id }})">Delete
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- 申请库存按钮 -->
    {% if user.is_authenticated and user_type == 'Exhibitor' %}
        <a href="#" class="btn btn-success rounded-circle shadow" id="add-venue-btn"
           style="position: fixed; bottom: 170px; right: 20px; z-index: 1040; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 30px;"
           onclick="openResApplyModal();" title="Apply for resources">
            📝
        </a>
    {% endif %}
    <!-- 添加库存按钮 -->
    <a href="#" class="btn btn-success rounded-circle shadow" id="add-venue-btn"
       style="position: fixed; bottom: 100px; right: 20px; z-index: 1040; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 30px;"
       onclick="openAddInventoryModal();" title="Add Custom Resource">
        +
    </a>

    {# 添加库存的模态框 #}
    <div class="modal fade" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addInventoryModal">Add a Custom Resource Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addInventoryForm" method="post"
                          enctype="multipart/form-data" class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        {{ create_inventory_form|crispy }}
                        <input type="hidden" name="venue_id" id="venue_id" value="{{ current_space.pk }}">
                        <div id="add_inventory-message-container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# 申请库存的模态框 #}
    <div class="modal fade" id="createResApplyModal" tabindex="-1" aria-labelledby="createResApplyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createResApplyModal">Apply for New Resources</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createResApplyForm" method="post"
                          enctype="multipart/form-data" class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        {{ application_form|crispy }}
                        <input type="hidden" name="venue_id" id="venue_id" value="{{ current_space.pk }}">
                        <div id="application-form-container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 修改库存类别的模态框 -->
    <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryModalLabel">Edit Inventory Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editCategoryForm" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="edit_name" class="form-label">Name</label>
                            <input type="text" name="name" id="edit_name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit_description" class="form-label">Description</label>
                            <textarea name="description" id="edit_description" class="form-control" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="edit_image" class="form-label">Image</label>
                            <input type="file" name="image" id="edit_image" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="edit_cost" class="form-label">Cost</label>
                            <input type="number" step="0.01" name="cost" id="edit_cost" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="edit_rent" class="form-label">Rent</label>
                            <input type="number" step="0.01" name="rent" id="edit_rent" class="form-control">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="is_public" id="edit_is_public" class="form-check-input">
                            <label for="edit_is_public" class="form-check-label">Is Public</label>
                        </div>
                        <input type="hidden" name="category_id" id="edit_category_id">
                        <div id="edit_category_message_container"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        function openEditCategoryModal(categoryId) {
            const url = `{% url 'Inventory:edit-category' 0 %}`.replace('/0/', '/' + categoryId + '/');
            axios.get(url, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
                .then(response => {
                    const category = response.data;
                    document.getElementById('edit_name').value = category.name;
                    document.getElementById('edit_description').value = category.description;
                    document.getElementById('edit_cost').value = category.cost;
                    document.getElementById('edit_rent').value = category.rent;
                    document.getElementById('edit_is_public').checked = category.is_public;
                    document.getElementById('edit_category_id').value = categoryId;
                    
                    const editModal = new bootstrap.Modal(document.getElementById('editCategoryModal'));
                    editModal.show();
                })
                .catch(error => {
                    console.error('There was an error fetching the category details:', error);
                });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const editCategoryForm = document.getElementById('editCategoryForm');
            const container = document.getElementById('edit_category_message_container');
            editCategoryForm.addEventListener('submit', function (e) {
                e.preventDefault();  // 阻止表单的默认提交行为
                const formData = new FormData(editCategoryForm);
                const categoryId = document.getElementById('edit_category_id').value;
                axios.post(`{% url 'Inventory:edit-category' 0 %}`.replace('/0/', '/' + categoryId + '/'), formData, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
                    .then(function (response) {
                        if (response.data.success) { // 如果提交成功，显示成功消息
                            container.innerHTML = '<div class="alert alert-success">' + response.data.success + '</div>';
                            container.style.display = 'block';
                            // 设置定时器等待1.5秒后关闭模态框并刷新页面
                            setTimeout(function () {
                                const editModal = new bootstrap.Modal(document.getElementById('editCategoryModal'));
                                editModal.hide(); // 关闭模态框
                                window.location.reload(); // 刷新页面
                            }, 1500); // 1500毫秒后执行
                        }
                    }).catch(error => {
                    // 记录或处理错误
                    console.error(error);
                    container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                    container.style.display = 'block';  // 确保消息容器可见
                });
            });
        });
    </script>
    
    <script>
        function confirmDelete(categoryId) {
            if (confirm('Are you sure to delete this category and all its items?')) {
                window.location.href = `{% url 'Inventory:delete-category' 0 %}`.replace('/0/', '/' + categoryId + '/');
            }
        }

        function openAddInventoryModal() {
            const filterModal = new bootstrap.Modal(document.getElementById('addInventoryModal'));
            filterModal.show();
        }

        function openResApplyModal() {
            const filterModal = new bootstrap.Modal(document.getElementById('createResApplyModal'));
            filterModal.show();
        }
        
        
        document.addEventListener('DOMContentLoaded', function () {
            const addInventoryForm = document.getElementById('addInventoryForm');
            const container = document.getElementById('add_inventory-message-container');
            addInventoryForm.addEventListener('submit', function (e) {
                e.preventDefault();  // 阻止表单的默认提交行为
                const formData = new FormData(addInventoryForm);
                axios.post('{% url 'Inventory:inventory' space_type space_id %}', formData)
                    .then(function (response) {
                        if (response.data.success) { // 如果提交成功，显示成功消息
                            const addInventoryModal = new bootstrap.Modal(document.getElementById('addInventoryModal'), {});
                            container.innerHTML = '<div class="alert alert-success">' + response.data.success + '</div>';
                            container.style.display = 'block';
                            // 设置定时器等待1.5秒后关闭模态框并刷新页面
                            setTimeout(function () {
                                addInventoryModal.hide(); // 关闭模态框
                                window.location.reload(); // 刷新页面
                            }, 1500); // 1500毫秒后执行
                        }
                    }).catch(error => {
                    // 记录或处理错误
                    console.error(error);
                    container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                    container.style.display = 'block';  // Make sure the message container is visible
                });
            });

            const createResApplyForm = document.getElementById('createResApplyForm');
            createResApplyForm.addEventListener('submit', function (e) {
                e.preventDefault();  // 阻止表单的默认提交行为
                const container = document.getElementById('application-form-container');
                const formData = new FormData(createResApplyForm);
                formData.set('booth_id', {{ current_space.pk }}); // 设置展位ID
                for (let pair of formData.entries())
                    console.log(pair[0] + ', ' + pair[1]);
                axios.post('{% url 'Inventory:create_res_application' %}', formData, {
                    headers: {
                        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,  // 在请求头中包含CSRF令牌
                        'Content-Type': 'multipart/form-data'  // 发送文件时很重要
                    }
                }).then(response => {
                    if (response.data.success) { // 如果提交成功，显示成功消息
                        container.innerHTML = `<div class="alert alert-success">${response.data.success}</div>`;
                        const modal = new bootstrap.Modal(document.getElementById('createResApplyModal'));
                        setTimeout(() => {
                            modal.hide();
                            window.location.reload();
                        }, 1500);
                    } else {
                        container.innerHTML = `<div class="alert alert-danger">${response.data.error}</div>`;
                        container.style.display = 'block';  // 确保消息容器可见
                    }
                }).catch(error => {
                    // 记录或处理错误
                    console.error(error);
                    container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                    container.style.display = 'block';  // Make sure the message container is visible
                });
            });
        });
    </script>
{% endblock %}