/*
body {
    background: url('../../images/User/poster.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f6f0f0;
}*/

.card h5 {
    color: #333;
    font-weight: bold;
}

.card p {
    color: #666;
    font-size: 14px;
}

#add-venue-btn {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
