/* 以下是从layout.css迁移过来的部分样式: */

/* 确保动画和过渡的平滑性 */
* {
    transition: all 0.2s ease-in-out;
}

#konva-container {
    position: relative;
    height: 90vh;
    width: 95%;
    box-sizing: border-box; /* 包含边框和内边距在内的总宽高 */
    overflow: hidden; /* 防止内容溢出 */
    margin: 2.5vh auto 0; /* Centers it vertically with top margin */

    border: 1px solid #ccc;  /* 浅灰色边框 */
    background-color: #fff;  /* 白色背景 */
    border-radius: 10px;  /* 圆角边框 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* 轻微阴影 */

    background-image: url('../../images/Layout/Grid_Blue.jpg'); /* 确保路径正确 */
    background-size: cover; /* 覆盖整个容器 */
    background-position: center; /* 居中背景图 */
    background-repeat: no-repeat;
}


/* 以下是原样式代码: */


.logo-title {
    margin-left: 3rem;
}

.table-responsive {
    background: linear-gradient(#00397311, #00336311);  /* 使用深蓝到浅蓝的渐变背景 */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out; /* 平滑的背景色过渡 */
}

.table {
    border: none;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.1); /* 表格背景设置为半透明 */
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 鼠标悬停时更亮的背景色 */
    transition: background-color 1s ease-in-out; /* 平滑的背景色过渡 */
}

thead {
    color: #fff; /* 表头字体颜色 */
    background: rgba(0,0,0,0.4); /* 表头背景色 */
}

tbody td {
    color: #EEE; /* 调整文字颜色以适应深色背景 */
}

.exhibition-img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* 图片放大效果 */
}

.exhibition-img:hover {
    transform: scale(1.1); /* 鼠标悬停时图片放大 */
}

th, td {
    border: none;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease; /* 添加平滑过渡效果，应用于所有属性改变 */
}

td a {
    color: #FFD700;
    transition: color 0.3s ease-in-out;
}

td a:hover {
    color: #FFFFFF;
}

