/* 美化上下文菜单 */
.context-menu {
    position: absolute;
    width: 200px; /* 菜单宽度 */
    z-index: 3000; /* 设置较高的z-index值 */
    background-color: white;
    border: 1px solid #ddd; /* 浅灰色边框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 较明显的阴影 */
    border-radius: 0.25rem; /* 轻微的圆角 */
}

/* 调整Offcanvas */
.offcanvas-header {
    background-color: #f8f9fa; /* 浅灰色背景 */
    border-bottom: 1px solid #dee2e6; /* 底部边框 */
    padding: 0.75rem 1rem; /* 内边距调整 */
}

.offcanvas-body {
    padding: 15px; /* 更大的内边距 */
    background-color: #ffffff; /* 白色背景 */
    color: #495057; /* 深灰色文本，增加对比 */
}

/* 调整Accordion */
.accordion-button {
    background-color: #e9ecef; /* 浅灰色背景 */
    color: #495057; /* 深灰色文本 */
    border: 1px solid #dee2e6; /* 细边框 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 轻微的阴影 */
    padding: 0.75rem 1.25rem; /* 内边距调整 */
    transition: background-color 0.3s ease; /* 平滑的背景色过渡 */
}

.accordion-button:not(.collapsed) {
    background-color: #d1e7dd; /* 展开时的背景颜色 */
    color: #0f5132; /* 展开时的文本颜色 */
}

.accordion-item {
    border-bottom: 1px solid #dee2e6; /* 每个项底部边框 */
    margin-bottom: 0.5rem; /* 项间距 */
}

.accordion-collapse.collapse {
    overflow: hidden;
}

.accordion-header {
    margin: 0; /* 确保没有外边距 */
}

.list-group-item-action:hover {
    background-color: #f8f9fa; /* 鼠标悬浮背景颜色 */
    color: #212529; /* 鼠标悬浮文本颜色 */
}

/* 确保动画和过渡的平滑性 */
* {
    transition: all 0.2s ease-in-out;
}

/* 调整画板上方Venue名和选区按钮的样式 */
#venue-header {
    width: 100%; /* 确保header占满整个容器宽度 */
    display: flex;
    justify-content: space-between; /* 使左右两侧内容分别对齐到各自的边缘 */
    padding-left: 3rem; /* 根据需要调整，以匹配画板的左侧边距 */
    padding-right: 3rem; /* 根据需要调整，以匹配画板的右侧边距 */
    align-items: center; /* 确保所有元素在垂直方向上居中 */
}

#venue-name {
    font-family: 'Cursive', sans-serif; /* 使用艺术字体 */
    font-size: 28px; /* 调整字体大小以适配设计 */
    font-weight: bold;
}

.dropdown .dropdown-toggle {
    margin-top: 1rem; /* 调整下拉菜单按钮的上边距 */
    font-size: 20px; /* 增加字体大小，使按钮显得更大 */
    padding: 0.5rem 1rem; /* 增加内边距，使按钮本体更大 */
}

/*控制监控面板的样式*/
.table-responsive {
    background: linear-gradient(#00397311, #00336311); /* 使用深蓝到浅蓝的渐变背景 */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out; /* 平滑的背景色过渡 */
}

.table {
    border: none;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.1); /* 表格背景设置为半透明 */
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 鼠标悬停时更亮的背景色 */
    transition: background-color 1s ease-in-out; /* 平滑的背景色过渡 */
}

thead {
    color: #fff; /* 表头字体颜色 */
    background: rgba(0, 0, 0, 0.4); /* 表头背景色 */
}

tbody td {
    color: #EEE; /* 调整文字颜色以适应深色背景 */
}

.booth-img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* 图片放大效果 */
}

.booth-img:hover {
    transform: scale(1.1); /* 鼠标悬停时图片放大 */
}

th, td {
    border: none;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease; /* 添加平滑过渡效果，应用于所有属性改变 */
}

td a {
    color: #FFD700;
    transition: color 0.3s ease-in-out;
}

td a:hover {
    color: #FFFFFF;
}

.custom-modal {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* 居中对齐 */
}

.api-endpoint {
    font-size: 16px;
    font-weight: bold; /* 加粗 */
}

.api-endpoint a {
    color: #17a2b8;
}

.test-recognition {
    font-size: 18px;
    font-weight: bold; /* 加粗 */
    color: #007bff;
}

/* 设置在线和离线的背景色 */
.table-success {
    background-color: rgb(44, 80, 61) !important; /* 浅绿色 */
}

.table-warning {
    background-color: rgb(84, 109, 129) !important; /* 浅灰色 */
}

#konva-container {
    min-height: 100vh;
}