/* 美化上下文菜单 */
.context-menu {
    position: absolute;
    width: 200px; /* 菜单宽度 */
    z-index: 3000; /* 设置较高的z-index值 */
    background-color: white;
    border: 1px solid #ddd; /* 浅灰色边框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 较明显的阴影 */
    border-radius: 0.25rem; /* 轻微的圆角 */
}

/* 调整Offcanvas */
.offcanvas-header {
    background-color: #f8f9fa; /* 浅灰色背景 */
    border-bottom: 1px solid #dee2e6; /* 底部边框 */
    padding: 0.75rem 1rem; /* 内边距调整 */
}

.offcanvas-body {
    padding: 15px; /* 更大的内边距 */
    background-color: #ffffff; /* 白色背景 */
    color: #495057; /* 深灰色文本，增加对比 */
}

/* 调整Accordion */
.accordion-button {
    background-color: #e9ecef; /* 浅灰色背景 */
    color: #495057; /* 深灰色文本 */
    border: 1px solid #dee2e6; /* 细边框 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 轻微的阴影 */
    padding: 0.75rem 1.25rem; /* 内边距调整 */
    transition: background-color 0.3s ease; /* 平滑的背景色过渡 */
}

.accordion-button:not(.collapsed) {
    background-color: #d1e7dd; /* 展开时的背景颜色 */
    color: #0f5132; /* 展开时的文本颜色 */
}

.accordion-item {
    border-bottom: 1px solid #dee2e6; /* 每个项底部边框 */
    margin-bottom: 0.5rem; /* 项间距 */
}

.accordion-collapse.collapse {
    overflow: hidden;
}

.accordion-header {
    margin: 0; /* 确保没有外边距 */
}

.list-group-item-action:hover {
    background-color: #f8f9fa; /* 鼠标悬浮背景颜色 */
    color: #212529; /* 鼠标悬浮文本颜色 */
}

/* 确保动画和过渡的平滑性 */
* {
    transition: all 0.2s ease-in-out;
}

.dropdown .dropdown-toggle {
    margin-top: 1rem; /* 调整下拉菜单按钮的上边距 */
    font-size: 20px; /* 增加字体大小，使按钮显得更大 */
    padding: 0.5rem 1rem; /* 增加内边距，使按钮本体更大 */
}

th, td {
    border: none;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease; /* 添加平滑过渡效果，应用于所有属性改变 */
}

td a {
    color: #FFD700;
    transition: color 0.3s ease-in-out;
}

td a:hover {
    color: #FFFFFF;
}

.custom-modal {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* 居中对齐 */
}

.api-endpoint {
    font-size: 16px;
    font-weight: bold; /* 加粗 */
}

.api-endpoint a {
    color: #17a2b8;
}

.test-recognition {
    font-size: 18px;
    font-weight: bold; /* 加粗 */
    color: #007bff;
}

#konva-container {
    min-height: 100vh;
}

/* 美化 monitor-list 组件 */
.table {
    background-color: #ffffff; /* 白色背景 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 轻微的阴影 */
    border-radius: 0.5rem; /* 圆角 */
}

.table th, .table td {
    vertical-align: middle; /* 垂直居中 */
    padding: 1rem; /* 调整内边距 */
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1; /* 悬停背景颜色 */
}

.table .monitor-img {
    width: 70px; /* 调整图片宽度 */
    height: auto; /* 自动高度 */
    border-radius: 0.25rem; /* 圆角 */
}

.table .badge {
    padding: 0.5rem; /* 调整徽章内边距 */
    font-size: 1rem; /* 调整徽章字体大小 */
}

.table .text-info {
    font-weight: bold; /* 加粗 API 链接 */
}

.table thead th {
    background-color: #343a40; /* 深灰色背景 */
    color: #ffffff; /* 白色文字 */
    border-bottom: none; /* 移除边框 */
}

.table-dark th {
    border-top: none; /* 移除顶部边框 */
}

.table-success {
    background-color: #d4edda !important; /* 在线时的背景色 */
}

.table-danger {
    background-color: #f8d7da !important; /* 离线时的背景色 */
}

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 0.875rem; /* 调整小屏设备上的字体大小 */
        padding: 0.75rem; /* 调整内边距 */
    }
}

