{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/Public/hudson.png' %}" type="image/png">
    <!-- 导入bootstrap的css,icon和js -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- 导入google字体 -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <!-- 导入jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 导入axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 导入font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- 导入 Material Icons 字体 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 导入静态资源 -->
    <link rel="stylesheet" href="{% static 'css/Public/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/Public/sidebar.css' %}">
    <script src="{% static 'js/Public/base.js' %}"></script>
    {% block extra_head %}
        <!-- 在这里添加额外的head内容 -->
    {% endblock %}
</head>


<body>
<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Venue:home' %}">
            <img src="{% static 'images/Public/hudson.png' %}" alt="Hudson Logo"
                 style="height: 30px; margin-right: 10px;">
            Mrs. Hudson
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-moon"></i> Theme</a>
                </li>

                {% block extra_nav_icons %}
                    <!-- 在这里添加额外的icon-->
                {% endblock %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'System:copilot' %}"><i class="fas fa-robot"></i>
                        Watson
                    </a>
                </li>
                {% if user.is_authenticated %}
                    {# TODO 有空把一个Inventory的主页写出来 #}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="{% url 'Inventory:inventory' %}"><i class="fas fa-warehouse"></i>#}
                    {#                            Inventory</a>#}
                    {#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'User:view_message' %}"><i class="fas fa-envelope"></i>
                            Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'User:logout' %}"><i class="fas fa-sign-out-alt"></i>
                            Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'User:login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'User:profile' %}"><i class="fas fa-user"></i> Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 消息提醒(Toast) -->
<div id="toast-container" class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    {% for message in messages %}
        <div class="toast-message" data-message="{{ message }}" data-tag="{{ message.tags }}"
             style="display: none;"></div>
    {% endfor %}
</div>


<!-- 页面主体内容 -->
<div class="public-base-main-content container-fluid px-0">
    <div class="row g-0"><!-- 添加 g-0 移除格子间距 -->
        <div class="d-flex">
            <div class="public-base-sidebar" id="sidebar">
                {% block sidebar %}
                    <!-- 侧边栏内容 -->
                {% endblock %}
            </div>
            <div class="public-base-main-content" id="content">
                {% block content %}
                    <!-- 页面主体内容 -->
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- 底边栏 -->
<footer class="public-base-footer bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <img src="{% static 'images/Public/bjut.png' %}" alt="BJUT Logo" style="height: 50px;">
        © 2024 Mrs. H.U.D.S.O.N. <i>Holistic Utility Deployment & Sustainability Overseeing Network.</i> All rights
        reserved.
        <img src="{% static 'images/Public/ucd.png' %}" alt="UCD Logo" style="height: 50px;">
        <br>
    </div>
</footer>


<!-- JS脚本 -->
{% block scripts %}

{% endblock %}

</body>
</html>
