{#该页面实现了导航栏和底边栏, 其他页面在使用时需要用Jinja2的继承语法来继承该模板, 并在其中的block中填充内容#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#导入bootstrap的css和js#}
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    {#导入jquery#}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {#导入axios#}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {#导入静态资源#}
    <link rel="stylesheet" href="{{ static('css/Public/base.css') }}">
    <link rel="stylesheet" href="{{ static('css/Public/sidebar.css') }}">
    {% block extra_head %}
        {#在这里添加额外的head内容#}
    {% endblock %}
</head>
<body>

<div class="public-base-content pt-5 mt-1">
    {#导航栏#}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            {#主页键#}
            <a class="navbar-brand" href="{{ url_for('User:home') }}">Hudson RMS</a>
            {#其它导航键，登录注册时不展示#}
            {% if not hide_nav_items|default(false) %}
                {#需要折叠的导航#}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLeft"
                        aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarLeft">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            {# TODO 添加导航按键，替换掉下一行 #}
                            <a class="nav-link me-3" href="{{ url_for('User:view_message') }}">Messages</a>
                        </li>
                        <li class="nav-item">
                            {# TODO 添加导航按键，替换掉下一行 #}
                            <a class="nav-link me-3" href="{{ url_for('User:view_message') }}">Messages</a>
                        </li>
                    </ul>
                </div>
                {#无需折叠的导航#}
                <div class="navbar-nav ms-auto d-flex flex-row">
                    <a class="nav-link me-3" href="{{ url_for('User:view_message') }}">Messages</a>
                    <a class="nav-link me-3" href="{{ url_for('User:logout') }}">Logout</a>
                </div>
            {% endif %}
        </div>
    </nav>

    {#底边栏#}
    <footer class="fixed-bottom bg-dark text-white pt-2 pb-2">
        <div class="container-fluid">
            <div class="row align-items-baseline">
                <!-- 版权信息区域 -->
                <div class="col">
                    <p class="mb-0 text-small" style="font-size: 12px">Copyright © 2024 Beijing University of Technology
                        & University College Dublin</p>
                </div>
                <!-- 图片区域 -->
                <div class="col-auto">
                    <img src="{{ static('images/Public/bjut.png') }}" alt="BJUT Logo" class="img-fluid"
                         style="max-height: 30px;">
                    <img src="{{ static('images/Public/ucd.png') }}" alt="UCD Logo" class="img-fluid"
                         style="max-height: 30px;">
                </div>
            </div>
        </div>
    </footer>

    {# 主体内容，可选择是否展示侧边栏 #}
    <main class="public-base-main-content">
        <div class="container-fluid px-0">
            <div class="row g-0">
                <div class="d-flex flex-row" style="min-height: 100vh;"> <!-- 使用 Flexbox 确保内容区填满剩余空间 -->
                    {% if show_sidebar|default(false) %}
                        <div class="col-md-2 px-0" style="position: sticky; height: calc(100vh - 56px);">
                            {% include 'Public/sidebar.html' %}
                        </div>
                    {% endif %}
                    <div class="{% if show_sidebar|default(false) %}col-md-10{% else %}col-12{% endif %} px-0">
                        {% block content %}
                            <!-- 页面主体内容 -->
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>


</div>

{% block scripts %}
    <script src="../../static/js/Public/sidebar.js"></script>
{% endblock %}

</body>
</html>