{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/Public/sidebar.css' %}">
    <script src="{% static 'js/Public/sidebar.js' %}"></script>
</head>

<div class="sidebar d-flex flex-column flex-shrink-0 p-3"
     style="width: 240px; height: 100%; min-height: 95vh; /* 边框 */">

    <!-- 侧边栏标题 -->
    <a class="sidebar-title d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fs-4"><strong>{{ page_title }}</strong></span>
    </a>
    <hr>

    <!-- 自定义的侧边栏item列表 -->
    <ul class="nav nav-pills flex-column mb-auto flex-grow-1">
        {% for item in custom_items %}
            {% if item.children %}
                <!-- 有子条目的项 -->
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-between"
                       data-bs-toggle="collapse" href="#collapse-{{ forloop.counter }}"
                       role="button" aria-expanded="{% if applications_type %}true{% else %}false{% endif %}"
                       aria-controls="collapse-{{ forloop.counter }}">
                        <span><strong>{{ item.name }}</strong></span>
                        <span class="toggle-icon ms-auto"><i
                                class="bi {% if applications_type %}bi-chevron-down{% else %}bi-chevron-right{% endif %}"></i></span>
                    </a>
                    <div class="collapse {% if applications_type %}show{% endif %}" id="collapse-{{ forloop.counter }}">
                        <ul class="nav flex-column ms-3 child-menu">
                            {% for child in item.children %}
                                <li class="nav-item {{ child.active_class }}">
                                    <a href="{{ child.url }}"
                                       class="nav-link {{ child.active_class }}"><strong>{{ child.name }}</strong></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% else %}
                <!-- 没有子条目的项 -->
                <li class="nav-item {{ item.active_class }}">
                    <a href="{{ item.url }}"
                       class="nav-link {{ item.active_class }}"><strong>{{ item.name }}</strong></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const collapsibleLinks = document.querySelectorAll('[data-bs-toggle="collapse"]');
        collapsibleLinks.forEach(link => {
            link.addEventListener('click', function () {
                const icon = link.querySelector('.toggle-icon i'); // 修改为选择 i 标签
                const isCollapsed = icon.classList.toggle('collapsed'); // 切换 collapsed 类
                if (isCollapsed) {
                    icon.classList.remove('bi-chevron-right');
                    icon.classList.add('bi-chevron-down');
                } else {
                    icon.classList.remove('bi-chevron-down');
                    icon.classList.add('bi-chevron-right');
                }
            });
        });
    });
</script>
