{% extends 'Public/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <title>Venue Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/fabric"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Layout/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/Layout/canvas.css' %}">
{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:venue_layout' %}"><i class="fas fa-edit"></i> Layout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Inventory:inventory' %}"><i class="fas fa-warehouse"></i> Inventory</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="app">
        <!-- Floating Action Button -->
        <button @click="toggleOffcanvas" class="btn btn-primary rounded shadow" id="toggle-offcanvas-btn"
                :style="buttonStyle">
            <i :class="offcanvasOpen ? 'fas fa-chevron-left' : 'fas fa-chevron-right'"></i>
        </button>


        <!-- Offcanvas -->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasScrolling"
             tabindex="-1"
             aria-labelledby="offcanvasScrollingLabel"
             :class="{'show': offcanvasOpen}" style="visibility: visible;">

            <div class="offcanvas-header">
                {# 按钮: Return#}
                <button type="button" class="btn btn-secondary" @click="toggleOffcanvas">Return</button>
                {# Dropdown: Floor#}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFloorMenu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Select Floor
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFloorMenu">
                        {% for floor_number in floor_range %}
                            {% comment %}我知道你想debug,但这个错误不影响程序的正常运行,单纯是IDE对Django模板渲染的错误提示,你可以忽略它{% endcomment %}
                            <li><a class="dropdown-item" href="#" @click="changeFloor({{ floor_number }})">Floor {{ floor_number }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {# 按钮: Save#}
                <button type="button" class="btn btn-primary" onclick="saveLayout()">Save</button>
            </div>

            <div class="offcanvas-body">

                <!-- Top层级Accordion -->
{% comment %}
                <div v-for="(layer, index) in layers" :key="layer.id" class="accordion" id="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button"
                                    :class="{'collapsed': !layer.open}"
                                    @click="toggleLayer(index)"
                                    @contextmenu.prevent="showContextMenu($event, index)">
                                [[ layer.name ]]
                            </button>
                        </h2>
                        <div v-if="layer.open" class="accordion-collapse">
                            <div class="accordion-body">
                                <!-- Recursively display child layers -->
                                <layer-component v-for="(subLayer, subIndex) in layer.child_units" :key="subLayer.id"
                                                 :layer="subLayer" @toggle="toggleLayer"></layer-component>
                            </div>
                        </div>
                    </div>
                </div>
{% endcomment %}

                <!-- Top层级Accordion -->
                <div class="accordion" id="accordion">
                    <layer-component v-for="(layer, index) in layers" :key="layer.id" :layer="layer" @contextmenu="showContextMenu"></layer-component>
                </div>

            </div>
        </div>

        <!-- 上下文菜单 -->
        <div v-show="isContextMenuVisible" :style="{top: contextMenuY, left: contextMenuX}"
             class="list-group context-menu">
            <a class="list-group-item list-group-item-action" @click="openAddSubLayerModal(currentLayer); hideContextMenu()">Add
                Sub-Layer</a>
            <a class="list-group-item list-group-item-action" @click="addElement(currentLayer); hideContextMenu()">Add
                Element </a>
            <a class="list-group-item list-group-item-action" @click="removeLayer(currentLayer); hideContextMenu()">Remove
                Layer</a>
            <a class="list-group-item list-group-item-action" @click="editLayer(currentLayer); hideContextMenu()">Edit </a>
        </div>
        
         <!-- Add SubLayer Modal -->
        <div class="modal fade" id="addSubLayerModal" tabindex="-1" aria-labelledby="addSubLayerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSubLayerModalLabel">Add New SubLayer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addSubLayerForm" @submit.prevent="addSubLayer(currentLayer)">
                            {% csrf_token %}
                            {{ add_sublayer_form|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Sublayer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}


{% block scripts %}
    {% comment %}<script src="{% static 'js/Layout/layout.js' %}"></script>{% endcomment %}
    <script src="{% static 'js/Layout/canvas.js' %}"></script>
    <script>
        Vue.component('layer-component', {
            props: ['layer'],
            delimiters: ['[[', ']]'], // 更改Vue的插值表达式定界符
            data: function() {
                return {
                    open: false  // 每个组件控制自己的打开状态
                };
            },
            template: `
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button"
                          :class="{'collapsed': !open}"
                          @click="open = !open"
                          @contextmenu.prevent="$emit('contextmenu', layer, $event)">
                    [[ layer.name ]]
                  </button>
                </h2>
                <div v-if="open" class="accordion-collapse">
                  <div class="accordion-body">
                    <layer-component v-for="(child, index) in layer.child_units" :key="index"
                                     :layer="child">
                    </layer-component>
                  </div>
                </div>
              </div>
            `,
        });

        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'], // 更改Vue的插值表达式定界符
            data: {
                floor: 1, // 当前楼层,默认为1
                layers: [],
                currentLayer: null,
                offcanvasOpen: false,
                isContextMenuVisible: false,
                contextMenuY: 0,
                contextMenuX: 0,
            },
            mounted() {
                // 监听全局点击事件，用于隐藏上下文菜单
                this.synchronizeData();  // 同步数据当组件挂载
                document.addEventListener('click', this.handleOutsideClick);
            },
            beforeDestroy() {
                // 组件销毁前移除事件监听
                document.removeEventListener('click', this.handleOutsideClick);
            },
            computed: {
                buttonStyle() {
                    return {
                        position: 'fixed',
                        bottom: '45vh',
                        left: this.offcanvasOpen ? '400px' : '10px', // Adjust '400px' as needed
                        zIndex: '1040',
                        width: '25px',
                        height: '50px',
                        display: 'flex',
                        justifyContent: 'center',
                        alignItems: 'center',
                        fontSize: '30px'
                    };
                }
            },
            methods: {
                // 处理全局点击事件
                // ----------------- 全局事件 -----------------
                handleOutsideClick(e) {
                    // 如果点击的不是上下文菜单,则隐藏菜单
                    if (!e.target.closest('.context-menu')) {
                        this.hideContextMenu();
                    }
                },
                // ----------------- 数据加载 -----------------
                 synchronizeData() {
                    axios.get('{% url "Layout:synchronize_data" %}', {
                        params: { floor: this.floor }
                    }).then(response => {
                        if (response.data && response.data.id) {
                            this.renderData(response.data); // 调用renderData来处理这个单一节点
                        } else {
                            console.error('Unexpected response data:', response.data);
                        }
                    }).catch(error => {
                        console.error('Failed to synchronize data:', error);
                    });
                },
                renderData(root) {
                    let queue = [root]; // 初始化队列，起始为根节点
                    this.layers = []; // 清空Vue实例的layers数组
                    this.layers = [root];
                    while (queue.length > 0) {
                        let currentLayer = queue.shift();  // 获取并移除队列的第一个元素
                        //this.layers.push(currentLayer); // 将当前层添加到Vue实例的layers数组中
                        if (currentLayer.child_units && currentLayer.child_units.length > 0) { // 如果当前层有子层且不为空
                            currentLayer.child_units.forEach(child => {
                                queue.push(child); // 将子层添加到队列中，以便后续处理
                            });
                        }
                    }
                },
                // ----------------- Offcanvas -----------------
                // 控制 Offcanvas 的显示与隐藏
                toggleOffcanvas() {
                    this.offcanvasOpen = !this.offcanvasOpen;
                    this.hideContextMenu(); // 当开启或关闭 Offcanvas 时隐藏上下文菜单
                    let offcanvasElement = document.getElementById('offcanvasScrolling');
                    offcanvasElement.style.visibility = this.offcanvasOpen ? 'visible' : 'hidden';
                },
                // 切换楼层
                changeFloor(floor) {
                    if (this.floor !== floor) {
                        this.floor = floor;
                        this.synchronizeData();
                    }
                },
                // ----------------- Accordions(Layers) -----------------
                // 控制上下文菜单的显示与隐藏
                showContextMenu(layer, event) {
                    event.preventDefault();
                    this.currentLayer = layer; // 设置为具体的层对象
                    this.contextMenuX = event.clientX + 'px'; // 确保使用 px 为单位
                    this.contextMenuY = event.clientY + 'px';
                    this.isContextMenuVisible = true;
                },
                // 隐藏上下文菜单
                hideContextMenu() {
                    this.isContextMenuVisible = false;
                },
                // 打开添加子层模态框
                openAddSubLayerModal(layer) {
                    this.currentLayer = layer;
                    $('#addSubLayerModal').modal('show');
                },
                // 添加子层
                addSubLayer() {
                    let formData = new FormData(document.getElementById('addSubLayerForm'));
                    formData.append('floor', this.floor); // 确保floor字段被添加
                    formData.append('parent_unit', this.currentLayer.id); // 添加parent_unit_id字段
                    formData.append('user_type', '{{ user_type }}'); // 添加user_type字段
                    formData.append('affiliation_object_id', {{ venue.id }}); // 添加user_type字段
                    console.log('Current Layer:', this.currentLayer);
                     console.log('Current Layer ID:', this.currentLayer.id);
                    axios.post('{% url "Layout:add_sublayer" %}', formData).then(response => {
                        this.renderData(response.data);
                        $('#addSubLayerModal').modal('hide');
                        this.hideContextMenu();
                    }).catch(error => {
                        console.error('Error adding sub-layer:', error);
                        alert('Failed to add sub-layer.');
                    });
                },
                // 添加元素
                addElement(index) {

                },
                // 移除层
                removeLayer(index) {

                },
                // 编辑层
                editLayer(index) {

                },
                
            
                
                // ----------------- FabricElements -----------------
                
                
            }
        });
    </script>
{% endblock %}