{% extends 'Public/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %}为了避免客户端通过CDN获取JS资源时因网络问题导致的加载失败,我们在这里先导入本地的JS资源,之后再通过CDN导入{% endcomment %}
    <script src="{% static 'js/CDN/Sortable.min.js' %}"></script>
    <script src="{% static 'js/CDN/vue.min.js' %}"></script>
    <script src="{% static 'js/CDN/konva.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/Layout/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/Layout/canvas.css' %}">
{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:layout' %}"><i class="fas fa-edit"></i> Layout</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="app">
        <!-- Floating Action Button -->
        <button @click="toggleOffcanvas" class="btn btn-primary rounded shadow" id="toggle-offcanvas-btn"
                :style="buttonStyle">
            <i :class="offcanvasOpen ? 'fas fa-chevron-left' : 'fas fa-chevron-right'"></i>
        </button>

        <div id="konva-container"></div>

        <!-- Offcanvas -->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasScrolling"
             tabindex="-1"
             aria-labelledby="offcanvasScrollingLabel"
             :class="{'show': offcanvasOpen}" style="visibility: visible;">

            <div class="offcanvas-header">
                {# 按钮: Return#}
                <button type="button" class="btn btn-secondary" @click="toggleOffcanvas">Return</button>
                {# Dropdown: Floor#}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFloorMenu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Select Floor
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFloorMenu">
                        {% for floor_number in floor_range %}
                            {% comment %}我知道你想debug,但这个错误不影响程序的正常运行,单纯是IDE对Django模板渲染的错误提示,你可以忽略它{% endcomment %}
                            <li><a class="dropdown-item" href="#" @click="changeFloor({{ floor_number }})">Floor {{ floor_number }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {# 按钮: Save#}
                <button type="button" class="btn btn-primary" @click="synchronizeElementsData()">Save</button>
            </div>

            <div class="offcanvas-body">
                <!-- Top层级Accordion -->
                <div class="accordion" id="accordion">
                    <layer-component v-for="(layer, index) in layers" :key="layer.id" :layer="layer" :floor="floor" 
                    @update-current-layer="setCurrentLayer" @data-updated="synchronizeData">   
                    </layer-component>
                </div>

            </div>
        </div>
        
        <!-- Add SubLayer Modal -->
        <div class="modal fade" id="addSubLayerModal" tabindex="-1" aria-labelledby="addSubLayerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSubLayerModalLabel">Add New SubLayer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addSubLayerForm" @submit.prevent="addSubLayer()">
                            {% csrf_token %}
                            {{ add_sublayer_form|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Sublayer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Edit Layer Modal -->
        <div class="modal fade" id="editLayerModal" tabindex="-1" aria-labelledby="editLayerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLayerModalLabel">Edit Layer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editLayerForm" @submit.prevent="editLayer()">
                            {% csrf_token %}
                            {{ edit_layer_form|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit Layer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/Layout/canvas.js' %}"></script>
    <script>
        Vue.component('layer-component', {
            props: ['layer','floor'],
            delimiters: ['[[', ']]'], // 更改Vue的插值表达式定界符
            data: function() {
                return {
                    open: false,  // 每个组件控制自己的打开状态
                    isContextMenuVisible: false,  // 上下文菜单是否可见
                    isElementMenuVisible: false,
                    contextMenuX: '0px',  // 上下文菜单的X坐标
                    contextMenuY: '0px',   // 上下文菜单的Y坐标
                    elementMenuX: '0px',
                    elementMenuY: '0px'
                };
            },
            template: `
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button"
                          :class="{'collapsed': !open}"
                          @click="open = !open;"
                          @contextmenu.prevent="openContextMenu($event, layer)"
                          style="background-color: #8bc0fa;">
                    [[ layer.name ]]
                  </button>
                </h2>
                <div v-if="open" class="accordion-collapse">
                  <div class="accordion-body">
                    <layer-component v-for="(child, index) in layer.child_units" :key="index"
                                     :layer="child" :floor="floor"
                                     @update-current-layer="$emit('update-current-layer', $event)"
                                     @data-updated="$emit('data-updated', $event)">
                    </layer-component>

                    <element-component v-for="(element, index) in layer.elements" :key="index"
                                       :element="element" :floor="floor"
                                       @data-updated="$emit('data-updated', $event)">
                    </element-component>
                  </div>
                </div>

                <!-- 上下文菜单 -->
                <div v-show="isContextMenuVisible" :style="{top: contextMenuY, left: contextMenuX}"
                     class="list-group context-menu">
                  <a class="list-group-item list-group-item-action"
                     @click="openAddSubLayerModal(layer); closeContextMenu()">Add Sublayer</a>
                  <a class="list-group-item list-group-item-action"
                     @click="openEditLayerModal(layer); closeContextMenu()">Edit Layer</a>
                  <a class="list-group-item list-group-item-action" @click="deleteLayer(layer.id); closeContextMenu()">Delete
                    Layer</a>
                  <a class="list-group-item list-group-item-action" ref="addElementButton" @click="closeContextMenu()"
                     @mouseover="openElementMenu()">Add Element</a>
                </div>

                <!-- Sub Context Menu for Adding Elements -->
                <div v-show="isElementMenuVisible" :style="{top: elementMenuY, left: elementMenuX}"
                     class="list-group context-menu">
                  <a class="list-group-item list-group-item-action"
                     @click="addElement('PATH'); closeContextMenu()">PATH</a>
                  <a class="list-group-item list-group-item-action"
                     @click="addElement('RECTANGLE'); closeContextMenu()">RECTANGLE</a>
                  <a class="list-group-item list-group-item-action" @click="addElement('TRIANGLE'); closeContextMenu()">TRIANGLE</a>
                  <a class="list-group-item list-group-item-action" @click="addElement('CIRCLE');closeContextMenu()">CIRCLE</a>
                  <a class="list-group-item list-group-item-action"
                     @click="addElement('LINE');closeContextMenu()">LINE</a>
                  <a class="list-group-item list-group-item-action" @click="addElement('ARROW');closeContextMenu()">ARROW</a>
                  <a class="list-group-item list-group-item-action"
                     @click="addElement('TEXT');closeContextMenu()">TEXT</a>
                  <a class="list-group-item list-group-item-action" @click="addElement('IMAGE');closeContextMenu()">IMAGE</a>
                </div>
              </div>
            `,
            mounted() {
                // 监听全局点击事件，用于隐藏上下文菜单
                document.addEventListener('click', this.handleOutsideClick);
            },
            beforeDestroy() {
                // 组件销毁前移除事件监听器，避免内存泄漏
                document.removeEventListener('click', this.handleOutsideClick);
            },
            methods: {
                handleOutsideClick(e) { // 全局点击事件处理
                    if (!e.target.closest('.context-menu')) {
                        this.isContextMenuVisible = false; // 使用 this 指向组件实例
                        this.isElementMenuVisible = false;
                    }
                },
                
                openContextMenu(event) { // 上下文菜单事件处理
                    event.preventDefault();
                    if (this.isContextMenuVisible) {
                        this.isContextMenuVisible = false;
                        // 添加一个小延迟再显示新的菜单，以使菜单的隐藏和显示更加明显
                        this.$nextTick(() => {
                            this.contextMenuX = event.clientX + 'px';  // 根据事件位置设置上下文菜单的横坐标
                            this.contextMenuY = event.clientY + 'px';  // 根据事件位置设置上下文菜单的纵坐标
                            this.isContextMenuVisible = true;  // 显示上下文菜单
                        });
                    } else {
                            this.contextMenuX = event.clientX + 'px';  // 根据事件位置设置上下文菜单的横坐标
                            this.contextMenuY = event.clientY + 'px';  // 根据事件位置设置上下文菜单的纵坐标
                            this.isContextMenuVisible = true;  // 显示上下文菜单
                    }
                },                
                openElementMenu() {
                    const buttonRect = this.$refs.addElementButton.getBoundingClientRect();
                    this.elementMenuX = (buttonRect.left + buttonRect.width) + 'px';
                    this.elementMenuY = (buttonRect.top) + 'px';
                    this.isElementMenuVisible = true;
                },                
                addElement(type) {
                    alert('Adding element: ' + type);
                    this.isElementMenuVisible = false;
                    this.isContextMenuVisible = false;
                },               
                closeContextMenu() {
                    this.isContextMenuVisible = false;  // 隐藏上下文菜单
                },                              
                openAddSubLayerModal(layer) {  // 打开添加子层模态框
                    this.$emit('update-current-layer', layer);
                    $('#addSubLayerModal').modal('show');
                },                               
                openEditLayerModal(layer) { // 打开添加子层模态框
                    this.$emit('update-current-layer', layer);
                    // 为模态框填充数据
                    $('#editLayerForm input[name="name"]').val(layer.name);
                    $('#editLayerForm input[name="description"]').val(layer.description);
                    $('#editLayerForm input[name="available"]').prop('checked', layer.available);
                    $('#editLayerModal').modal('show');
                },               
                deleteLayer(layerId) {
                    if (confirm("Are you sure you want to delete current layer and its sub-elements?")) {
                        axios.get('{% url 'Layout:delete_layer' %}', { 
                            params: {
                                layer_id: layerId,
                                floor: this.floor,
                                user_type: '{{ user_type }}',
                                current_access_id: {{ current_access.id }},
                            }
                        })
                        .then(response => {
                            if (response.data && response.data.success) {
                                this.$emit('data-updated');
                            }
                        })
                        .catch(error => {
                            console.error('Error deleting layer:', error);
                        });
                    }
                },
            },
        });

        Vue.component('element-component', {
            props: ['element','floor'],
            delimiters: ['[[', ']]'], // 更改Vue的插值表达式定界符
            data() {
                return {
                    open: false,
                    isContextMenuVisible: false, // 控制上下文菜单显示
                    contextMenuX: '0px', // 上下文菜单的横坐标
                    contextMenuY: '0px' // 上下文菜单的纵坐标
                };
            },
            template:
            `
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button"
                          @contextmenu.prevent="openContextMenu($event)"
                          style="background-color: #c3dcf6;">
                    [[ element.name ]]
                  </button>
                </h2>
                <!-- 上下文菜单 -->
                <div v-show="isContextMenuVisible" :style="{top: contextMenuY, left: contextMenuX}"
                     class="list-group context-menu">
                    <a class="list-group-item list-group-item-action" @click="deleteElement(element); closeContextMenu()">Edit Element</a>
                    <a class="list-group-item list-group-item-action" @click="deleteElement(element); closeContextMenu()">Delete Item</a>
                </div>
              </div>
            `,
            mounted() {     
                // 监听全局点击事件，用于隐藏上下文菜单
                document.addEventListener('click', this.handleOutsideClick);
            },
            beforeDestroy() {
                // 组件销毁前移除事件监听器，避免内存泄漏
                document.removeEventListener('click', this.handleOutsideClick);
            },
            methods: {
                handleOutsideClick(e) { // 全局点击事件处理
                    if (!e.target.closest('.context-menu')) {
                        this.closeContextMenu();
                    }
                },
                
                openContextMenu(event) {                    
                    event.preventDefault();
                    if (this.isContextMenuVisible) {
                        this.isContextMenuVisible = false;
                        // 添加一个小延迟再显示新的菜单，以使菜单的隐藏和显示更加明显
                        this.$nextTick(() => {
                            this.contextMenuX = event.clientX + 'px';  // 根据事件位置设置上下文菜单的横坐标
                            this.contextMenuY = event.clientY + 'px';  // 根据事件位置设置上下文菜单的纵坐标
                            this.isContextMenuVisible = true;  // 显示上下文菜单
                        });
                    } else {
                            this.contextMenuX = event.clientX + 'px';  // 根据事件位置设置上下文菜单的横坐标
                            this.contextMenuY = event.clientY + 'px';  // 根据事件位置设置上下文菜单的纵坐标
                            this.isContextMenuVisible = true;  // 显示上下文菜单
                    }
                },                
                closeContextMenu() {
                    this.isContextMenuVisible = false;
                },               
                deleteElement(element) {
                    // 确认删除操作
                    if (confirm("Are you sure you want to delete this element?")) {
                        axios.get('{% url 'Layout:delete_element' %}', { 
                            params: {
                                element_id: element.id,
                                floor: this.floor,
                                user_type: '{{ user_type }}',
                                current_access_id: {{ current_access.id }},
                            }
                        })
                        .then(response => {
                            if (response.data && response.data.success) {
                                console.log('Element deleted:', response.data.success);
                                this.$emit('data-updated');
                            }
                        })
                        .catch(error => {
                            console.error('Error deleting layer:', error);
                        });
                    }
                    this.closeContextMenu();
                    
                    
                }
            }
        });

        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'], // 更改Vue的插值表达式定界符
            data: {
                floor: 1, // 当前楼层,默认为1
                layers: [],
                currentLayer: null,
                stage: null,
                offcanvasOpen: false,
            },
            mounted() {
                this.synchronizeData().then(() => {
                    this.initializeKonva();  // 确保在数据加载完毕后调用
                });
            },
            beforeDestroy() {

            },
            computed: {
                buttonStyle() {
                    return {
                        position: 'fixed',
                        bottom: '45vh',
                        left: this.offcanvasOpen ? '400px' : '10px', // Adjust '400px' as needed
                        zIndex: '1040',
                        width: '25px',
                        height: '50px',
                        display: 'flex',
                        justifyContent: 'center',
                        alignItems: 'center',
                        fontSize: '30px'
                    };
                }
            },
            methods: {
                // ----------------- 数据加载 -----------------
                 synchronizeData() {
                    console.log('Synchronizing data...');
                    return axios.get('{% url "Layout:synchronize_data" %}', {
                        params: { 
                            floor: this.floor,
                            current_access_id: {{ current_access.id }},
                            user_type: '{{ user_type }}',
                        }
                    }).then(response => {
                        if (response.data && response.data.id) {
                            console.log('Data synchronized:', response.data);
                            this.renderData(response.data); // 调用renderData来处理这个单一节点

                        } else {
                            console.error('Unexpected response data:', response.data);
                        }
                    }).catch(error => {
                        console.error('Failed to synchronize data:', error);
                    });
                },
                renderData(root) {
                    let queue = [root]; // 初始化队列，起始为根节点
                    this.layers = []; // 清空Vue实例的layers数组
                    this.layers = [root];
                    while (queue.length > 0) {
                        let currentLayer = queue.shift();  // 获取并移除队列的第一个元素
                        //this.layers.push(currentLayer); // 将当前层添加到Vue实例的layers数组中
                        if (currentLayer.child_units && currentLayer.child_units.length > 0) { // 如果当前层有子层且不为空
                            currentLayer.child_units.forEach(child => {
                                queue.push(child); // 将子层添加到队列中，以便后续处理
                            });
                        }
                    }
                },

                // ----------------- konva.js -----------------
                initializeKonva() {
                    console.log('Initializing Konva...');
                    this.stage = new Konva.Stage({
                        container: 'konva-container',
                        width: window.innerWidth * 0.9,
                        height:  window.innerHeight * 0.9,
                    });

                    // 递归函数来处理每个层级的SpaceUnit和elements
                    const processLayer = (spaceUnits, parentLayer) => {
                        spaceUnits.forEach(spaceUnit => {
                            let layer;
                            if (!parentLayer) {
                                // 创建新的层如果没有父层
                                layer = new Konva.Layer();
                                this.stage.add(layer);
                            } else {
                                // 使用Group来模拟层嵌套
                                layer = new Konva.Group();
                                parentLayer.add(layer);
                            }

                            // 处理当前SpaceUnit的elements
                            spaceUnit.elements.forEach(element => {
                                console.log('Konva.Node.create(): ', JSON.parse(element.data));
                                const node = Konva.Node.create(JSON.parse(element.data), layer);
                                layer.add(node);
                            });

                            // 绘制层或组
                            layer.draw();

                            // 如果当前SpaceUnit有子单位，则递归处理
                            if (spaceUnit.child_units && spaceUnit.child_units.length > 0) {
                                processLayer(spaceUnit.child_units, layer);
                            }
                        });
                    };

                    // 从根层级开始处理所有层级
                    processLayer(this.layers, null);
                },

                synchronizeElementsData(){
                    console.log('Synchronizing elements data...');
                    return axios.post('{% url 'Layout:synchronize_elements_data' %}', {
                        root : this.layers[0]
                    }).then(response => {
                        console.log('Data synchronized successfully:', response.data);
                    }).catch(error => {
                        console.error('Failed to synchronize elements data:', error);
                    });
                },
                // ----------------- Offcanvas -----------------
                // 控制 Offcanvas 的显示与隐藏
                toggleOffcanvas() {
                    this.offcanvasOpen = !this.offcanvasOpen;
                    let offcanvasElement = document.getElementById('offcanvasScrolling');
                    offcanvasElement.style.visibility = this.offcanvasOpen ? 'visible' : 'hidden';
                },
                // 切换楼层
                changeFloor(floor) {
                    if (this.floor !== floor) {
                        this.floor = floor;
                        this.synchronizeData();
                    }
                },
                // ----------------- Accordion的相关方法 -----------------
                setCurrentLayer(layer) {
                    console.log('Setting current layer:', layer);
                    this.currentLayer = layer;
                },
                
                addSubLayer() { // 添加子层
                    let formData = new FormData(document.getElementById('addSubLayerForm'));
                    formData.append('floor', this.floor); // 确保floor字段被添加
                    formData.append('parent_unit', this.currentLayer.id); // 添加parent_unit_id字段
                    formData.append('user_type', '{{ user_type }}'); // 添加user_type字段
                    formData.append('affiliation_object_id', {{ current_access.id }}); // 添加user_type字段                    
                    axios.post('{% url "Layout:add_sublayer" %}', formData).then(response => {
                        this.synchronizeData();
                        $('#addSubLayerModal').modal('hide');
                    }).catch(error => {
                        console.error('Error adding sub-layer:', error);
                        alert('Failed to add sub-layer.');
                    });
                },               
                
                editLayer() { // 编辑层
                    let formData = new FormData(document.getElementById('editLayerForm'));
                    formData.append('id', this.currentLayer.id); // 添加layer_id字段
                    axios.post('{% url "Layout:edit_layer" %}', formData).then(response => {
                        this.synchronizeData();
                        $('#editLayerModal').modal('hide');
                    }).catch(error => {
                        console.error('Error editing layer:', error);
                        alert('Failed to edit layer.');
                    });
                },                                
            }
        });
    </script>
{% endblock %}