{% extends 'Public/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <title>Venue Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/fabric"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Layout/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/Layout/canvas.css' %}">

{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Statistic:statistic' %}"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:venue_layout' %}"><i class="fas fa-edit"></i> Layout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Inventory:inventory' %}"><i class="fas fa-warehouse"></i> Inventory</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}

    <!-- Floating Action Button -->
    <button href="#" class="btn btn-primary rounded shadow" id="toggle-offcanvas-btn" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
            style="position: fixed; bottom: 45vh; left: 10px; z-index: 1040; width: 25px; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 30px;">
        <i class="fas fa-chevron-right"></i>
    </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

        <div class="offcanvas-header">
            {# 按钮: Return#}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Return</button>
            {# Dropdown: Floor#}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFloorMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Select Floor
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownFloorMenu">
                    <li><a class="dropdown-item" href="#">Floor 1</a></li>
                    <li><a class="dropdown-item" href="#">Floor 2</a></li>
                    <li><a class="dropdown-item" href="#">Floor 3</a></li>
                </ul>
            </div>
            {# 按钮: Save#}
            <button type="button" class="btn btn-primary" onclick="saveLayout()">Save</button>
        </div>

        <div class="accordion-body">
            <!-- 一级子层级Accordion -->
            <div class="accordion" id="subLayersAccordion1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="subHeadingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#subCollapseOne" aria-expanded="false" aria-controls="subCollapseOne">
                            Top Layer
                        </button>
                    </h2>
                    <div id="subCollapseOne" class="accordion-collapse collapse" aria-labelledby="subHeadingOne"
                         data-bs-parent="#subLayersAccordion1">
                        <div class="accordion-body">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}在右键侧边栏中某个Layer时弹出{% endcomment %}
    <div id="contextMenu" class="list-group" style="position: absolute; display: none;">
        <a href="#" class="list-group-item list-group-item-action" onclick="renameLayer()">重命名</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="deleteLayer()">删除</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="createFabricElement()">创建元素</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="createLayer()">创建Layer</a>
        <a href="#" class="list-group-item list-group-item-action">复制</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="addBackground()">添加背景图</a>
    </div>

    <div id="elementMenu" class="list-group" style="position: absolute; display: none;">
        <a href="#" class="list-group-item list-group-item-action" onclick="renameElement()">重命名</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="deleteElement()">删除</a>
    </div>


{% endblock %}


{% block scripts %}
    <script src="{% static 'js/Layout/layout.js' %}"></script>
    <script src="{% static 'js/Layout/canvas.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 绑定Layer管风琴的右键菜单
            document.querySelectorAll('.accordion-button').forEach(item => {
                item.addEventListener('contextmenu', function (event) {
                    event.preventDefault(); // Prevent default right-click menu
                    showContextMenu(event, item);
                });
            });
            
            // 绑定Element按钮的右键菜单
            document.querySelectorAll('.element-btn').forEach(btn => {
                btn.addEventListener('contextmenu', function (event) {
                    event.preventDefault();
                    showElementContextMenu(event, btn);
                });
            });
        });


    </script>
{% endblock %}
