{% extends 'Public/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <title>Venue Layout</title>
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Layout/venue_layout.css' %}">
{% endblock %}

{% block extra_nav_icons %}
    <!-- 在这里添加导航栏里额外的icon-->
    {% if user.is_authenticated and user_type == 'Manager' %}
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Layout:venue_layout' %}"><i class="fas fa-edit"></i> Layout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Inventory:venue-inventory' %}"><i class="fas fa-warehouse"></i> Inventory</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}

{% endblock %}


{% block scripts %}

{% endblock %}