/* Default text color for light mode */
.card-header, .card-text {
    color: rgb(0, 0, 0);
}

/* Override text color for dark mode */
.card-header.dark-mode, .card-text.dark-mode {
    color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

.chat-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(187, 255, 182, 0.6), rgba(129, 219, 254, 0.6));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    height: 80vh;
    max-height: 80vh;
}

.chat-header {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #098e7c, #00ab66, #0ab8c8); /* A blend from teal to light green, deep forest green, and dark sea green */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text color transparent, showing the background gradient */
    font-size: 2em; /* Adjust the font size if needed */
}



.logo-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: transparent;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255, 250, 205, 0.8), rgba(224, 255, 255, 0.8));
    backdrop-filter: blur(10px);
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(240, 248, 255, 0.6), rgba(245, 245, 245, 0.6));
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.chat-box.dark-mode {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #414141;
    border-radius: 20px;
    background: linear-gradient(to bottom,#203a43, #1b5067);
    backdrop-filter: blur(10px);
    color: #e9e9e9;
}

.chat-message.dark-mode, .chat-message-header.dark-mode, .chat-message-body.dark-mode {
    color: #e9e9e9;
}


.chat-container.dark-mode {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(105, 105, 105, 0.6), rgba(0, 0, 0, 0.6));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    height: 80vh;
}

.chat-message-header {
    font-size: 0.9em;
    color: #6c757d;
    margin-bottom: 5px;
}

.chat-message-body {
    font-size: 1em;
    color: #343a40;
}

.chat-input {
    margin-top: 20px;
}

.chat-input textarea {
    resize: none;
    border-radius: 20px;
    border: 1px solid #dee2e6;
    padding: 10px;
    background-color: rgba(255, 240, 245, 0.8);
    backdrop-filter: blur(10px);
}

.chat-input .btn {
    margin-right: 10px;
}

.chat-input .btn-warning {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-avatar {
    width: 40px; 
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}
