.card h5 {
    color: #333;
    font-weight: bold;
}

.card p {
    color: #666;
    font-size: 14px;
}

#add-venue-btn {
    background-color: #009631;
    color: white;
    box-shadow: 0 4px 8px #009631;
}

.message-info {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(86, 197, 86, 0.5);
}

.logo-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    background: linear-gradient(180deg, rgba(86, 197, 86, 0.9), rgb(0, 87, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 2rem;
}

.loading-spinner {
    width: 3rem;
    height: 3rem;
    border: 0.4em solid rgba(0, 0, 0, 0.1);
    border-left: 0.4em solid #007bff;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
