body::before {
    background: linear-gradient(rgba(224, 224, 224, 0.4), rgba(205, 205, 205, 0.5)), url('../../images/Public/inventory.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.dark-mode::before {
    background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(24, 24, 24, 0.9)), url('../../images/Public/inventory.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo-title {
    margin-left: 3rem;
}

.card-columns {
    column-count: 3; /* Adjust based on preference, 2 for two columns */
    column-gap: 3rem;
}

.card-text {
    font-size: 12px; /* 维持现有的字体大小设定 */
    margin-top: 2px; /* 减少上边距 */
    margin-bottom: 2px; /* 减少下边距 */
}

.container-bg {
    background: linear-gradient(135deg, #8cbab5, #89bce3);
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card i {
    color: #17a2b8;
}
