body::before {
    background: linear-gradient(rgba(224, 224, 224, 0.4), rgba(205, 205, 205, 0.5)), url('../../images/Public/venue.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.dark-mode::before {
    background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(24, 24, 24, 0.9)), url('../../images/Public/venue.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 确保动画和过渡的平滑性 */
* {
    transition: all 0.2s ease-in-out;
}

#venue-header {
    width: 100%; /* 确保header占满整个容器宽度 */
    display: flex;
    justify-content: space-between; /* 使左右两侧内容分别对齐到各自的边缘 */
    padding-left: 3rem; /* 根据需要调整，以匹配画板的左侧边距 */
    padding-right: 3rem; /* 根据需要调整，以匹配画板的右侧边距 */
    align-items: center; /* 确保所有元素在垂直方向上居中 */
}

#venue-name {
    font-family: 'Cursive', sans-serif; /* 使用艺术字体 */
    font-size: 28px; /* 调整字体大小以适配设计 */
    font-weight: bold;
}

.dropdown .dropdown-toggle {
    margin-top: 1rem; /* 调整下拉菜单按钮的上边距 */
    font-size: 20px; /* 增加字体大小，使按钮显得更大 */
    padding: 0.5rem 1rem; /* 增加内边距，使按钮本体更大 */
}

.table-responsive {
    background: linear-gradient(#00397311, #00336311);  /* 使用深蓝到浅蓝的渐变背景 */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out; /* 平滑的背景色过渡 */
}

.table {
    border: none;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.1); /* 表格背景设置为半透明 */
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 鼠标悬停时更亮的背景色 */
    transition: background-color 1s ease-in-out; /* 平滑的背景色过渡 */
}

thead {
    color: #fff; /* 表头字体颜色 */
    background: rgba(0,0,0,0.4); /* 表头背景色 */
}

tbody td {
    color: #EEE; /* 调整文字颜色以适应深色背景 */
}

.exhibition-img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* 图片放大效果 */
}

.exhibition-img:hover {
    transform: scale(1.1); /* 鼠标悬停时图片放大 */
}

th, td {
    border: none;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease; /* 添加平滑过渡效果，应用于所有属性改变 */
}

td a {
    color: #FFD700;
    transition: color 0.3s ease-in-out;
}

td a:hover {
    color: #FFFFFF;
}

#konva-container {
    min-height: 100vh;
}