body::before {
    background: linear-gradient(rgba(224, 224, 224, 0.4), rgba(205, 205, 205, 0.5)), url('../../images/Public/venue.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.dark-mode::before {
    background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(24, 24, 24, 0.9)), url('../../images/Public/venue.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    transition: all 0.2s ease-in-out;
}

#venue-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
}

#venue-name {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgb(170, 209, 239), rgb(98, 178, 239));
    font-size: 36px;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown .dropdown-toggle {
    margin-top: 1rem;
    font-size: 20px;
    padding: 0.5rem 1rem;
}

.table-responsive {
    background: linear-gradient(#00397311, #00336311);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out;
}

.table {
    border: none;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 1s ease-in-out;
}

thead {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

tbody td {
    color: #EEE;
}

.exhibition-img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.exhibition-img:hover {
    transform: scale(1.1);
}

th, td {
    border: none;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease;
}

td a {
    color: #FFD700;
    transition: color 0.3s ease-in-out;
}

td a:hover {
    color: #FFFFFF;
}

#konva-container {
    min-height: 90vh;
}