{% extends "Public/base.html" %}
{% load static %}

{% block extra_head %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/User/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="login-title mb-3">Login</h2>
                <form action="{% url 'User:login' %}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">User Name:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger">
                                {{ form.username.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        {% if form.password.errors %}
                            <div class="alert alert-danger">
                                {{ form.password.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>

                <p>Don't have an account? <a href="{% url 'User:register' %}">Register</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# 如果需要添加脚本，可在这里加入相应的 <script> 标签 #}
{% endblock %}
