{% extends "Public/base.html" %}

{% block extra_head %}
    <title>Login</title>
{% endblock %}

{#不展示部分导航键#}
{% set hide_nav_items = true %}

{% block content %}
    <h2>Login</h2>
    <form action="{{ url_for('User:login') }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div>
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" required>
            {% if form.username.errors %}
                <div class="alert alert-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            {% if form.password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <p>Don't have an account? <a href="{{ url_for('User:register') }}">Register</a></p>
{% endblock %}

{% block scripts %}

{% endblock %}
