{% extends "Public/base.html" %}
{% block extra_head %}
    <title>Message Center</title>
{% endblock %}

{% block content %}
    <h2 class="mb-4">Message Center</h2>
    {% if page_obj %}
        <div class="list-group mb-4">
            {% for message in page_obj %}
                <div class="list-group-item">
                    <h5 class="mb-1">{{ message.title }}</h5>
                    <small>Sent by {{ message.sender }} on {{ message.created_at }}</small>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>Great job, all messages have been addressed!👍</p>
    {% endif %}
{% endblock %}
