{% extends "Public/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <title> Messages </title>
    <link rel="stylesheet" href="{% static 'css/User/message.css' %}">
{% endblock %}

{% block sidebar %}
    {% include "Public/sidebar.html" %}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Venue:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Message</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container px-10">
        {% if page_obj %}
            <div class="list-group shadow-sm mb-4 mt-2">
                {% if item_type == 'unread' or item_type == 'inbox' or item_type == 'sent' %}
                    <!-- 消息列表 -->
                    {% for message in page_obj %}
                        <div class="list-group-item cursor-pointer" style="background-color: rgba(255, 255, 255, 0.4)"
                             onclick="loadMessageDetail('{{ message.id }}', '{% url 'User:view_message_detail' message.id %}')">
                            <h5 class="mb-1">{{ message.title }}</h5>
                            <small class="text-muted">Sent by {{ message.sender.username }}
                                on {{ message.created_at|date:"Y-m-d H:i" }}
                            </small>
                        </div>
                    {% endfor %}
                {% elif item_type == 'applications' %}
                    <!-- 申请列表 -->
                    {% for application in page_obj %}
                        <div class="list-group-item cursor-pointer"
                             style="background-color: rgba(255, 255, 255, 0.6)"
                             onclick="loadApplicationDetail('{{ application.id }}', '{% url 'User:view_application_detail' applications_type application.id %}')">
                            {% if applications_type == 'exhibition' %}
                                <h5 class="mb-1">{{ application.exhibition.name }}</h5>
                            {% elif applications_type == 'booth' %}
                                <h5 class="mb-1">{{ application.booth.name }}</h5>
                            {% elif applications_type == 'resource' %}
                                <h5 class="mb-1">Booth '{{ application.booth.name }}' Apply
                                    for '{{ application.category.name }}'</h5>
                            {% endif %}
                            <small class="text-muted">Sent by {{ application.applicant }}</small>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- 分页按键 -->
            <nav aria-label="Page navigation" class="d-flex justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?item_type={{ item_type }}&page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?item_type={{ item_type }}&page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                    <span class="page-link" style="background-color: rgba(255, 255, 255, 0.4)">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?item_type={{ item_type }}&page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?item_type={{ item_type }}&page={{ page_obj.paginator.num_pages }}"
                               aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <!-- 无消息说明 -->
            <div class="message-info mt-4 ms-5">
            {% if item_type == 'unread' %}
                <p class="message-info">Great job. All messages have been addressed 👍</p>
            {% elif item_type == 'inbox' %}
                <p class="message-info">No message received yet 😌</p>
            {% elif item_type == 'sent' %}
                <p class="message-info">No sent messages 😲</p>
            {% elif item_type == 'applications' %}
                <p class="message-info">No Applications 😇</p>
            {% endif %}
        {% endif %}
        </div>
    </div>

    {#回复消息模态框#}
    <div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="replyModalLabel">Reply to Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ message_form|crispy }}
                    <div id="reply-container"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="submitReply()">Send Reply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
                let currentId = null;
                const currentMessageType = '{{ item_type }}';  // 获取当前消息类型

                function openReplyModal() {
                    const myModal = new bootstrap.Modal(document.getElementById('replyModal'));
                    myModal.show();
                }

                <!-- 加载消息详情 -->
                function loadMessageDetail(messageId, url) {
                    currentId = messageId; // Store message ID when loading details
                    axios.get(url)
                        .then(response => {
                            const data = response.data;
                            let replyButtonHtml = '';
                            if (currentMessageType !== 'sent') {  // 不是sent messages界面，显示回复按钮
                                replyButtonHtml = `<button onclick="openReplyModal()" class="btn btn-success mt-3">Reply</button>`;
                            }
                            // 关联申请
                            console.log('message related application', data.application_type, data.application_id);
                            let application_url = '{% url 'User:view_application_detail' 'exhibition' 999 %}'.replace('exhibition', data.application_type).replace('999', data.application_id);
                            // 关联消息板块
                            let relatedMessageHtml = '';
                            if (data.related_messages.length > 0) {
                                console.log(data.related_messages);
                                relatedMessageHtml = `
<div class="mt-4">
    <h5><strong>RE</strong></h5>
    <blockquote class="blockquote text-muted" style="font-size: 0.9rem;">
        <ul class="list-group">
            ${data.related_messages.map((msg) => `
            <li class="list-group-item" style="background-color: rgba(255, 255, 255, 0.6)">
                <strong class="d-block mb-1">${msg.title}</strong>
                <p class="mb-2">${msg.content}</p>
                <small class="text-muted">
                    Sent by <i class="bi bi-person-fill"></i> ${msg.sender} 
                    on <i class="bi bi-calendar-event-fill"></i> ${msg.created_at}
                </small>
            </li>
            `).join('')}
        </ul>
    </blockquote>
</div>
`;
                            }
                            document.getElementById('content').innerHTML = `
<div class="mb-4 px-4">
    <div class="row">
        <div class="col-auto">
            <button onclick="backToList()" class="btn btn-secondary mt-3">Back</button>
        </div>
        <div class="col-auto">
            ${replyButtonHtml}
        </div>
    </div>

    <!-- Current Message -->
    <div class="card mt-4 shadow-sm border" style="background-color: rgba(255, 255, 255, 0.6)">
        <div class="card-body">
            <h3 class="card-title text-center mb-3">${data.title}</h3>
            <p class="card-text mb-3">${data.content}</p>
            <div class="text-muted text-center mb-3">
                <small>
                    Sent by <i class="bi bi-person-fill"></i> ${data.sender} 
                    on <i class="bi bi-calendar-event-fill"></i> ${data.created_at}
                </small>
            </div>
        </div>
    </div>

    <!-- Related Messages -->
    ${relatedMessageHtml}

    <!-- 关联的Application -->
    <div class="mt-4">
        <h5><strong>Application</strong></h5>
        <div class="card shadow-sm"
            style="background-color: rgba(255, 255, 255, 0.6); cursor: pointer;"
            onclick="loadApplicationDetail('${data.application_id}', '${application_url}')">
            <div class="card-body">
                <p class="card-text cursor-pointer"><strong>Application Type:</strong> ${data.application_type}</p>
            </div>
        </div>
    </div>
</div>
`;
                        })
                        .catch(error => console.error('Error loading the message details:', error));
                }

                <!-- 加载申请详情 -->
                function loadApplicationDetail(applicationId, url) {
                    currentId = applicationId; // Store message ID when loading details
                    axios.get(url)
                        .then(response => {
                            const data = response.data;
                            let rejectButtonHtml = '';
                            let acceptButtonHtml = '';
                            let applicationHtml = '';

                            if ('{{ user_type }}' === 'Manager') {
                                rejectButtonHtml = `<button onclick="rejectApplication()" class="btn btn-danger mt-3">Reject</button>`;
                                acceptButtonHtml = `<button onclick="acceptApplication()" class="btn btn-success mt-3">Accept</button>`;
                            }
                            if (data.application_type === 'exhibition' || data.application_type === 'booth') {
                                applicationHtml = `
<div class="mb-3">
    <strong><i class="bi bi-body-text"></i> Description:</strong>
    <p class="card-text">${data.description}</p>
</div>
<div class="mb-3">
    <strong><i class="bi bi-geo-alt"></i> Location:</strong>
    <p class="card-text">${data.location}</p>
</div>`;
                            } else if (data.application_type === 'booth') {
                                applicationHtml = `
                                `;
                            } else if (data.application_type === 'resource') {
                                applicationHtml = `
<div class="mb-3">
    <strong><i class="bi bi-geo-alt"></i> Quantity:</strong>
    <p class="card-text">${data.quantity}</p>
</div>`;
                            }
                            document.getElementById('content').innerHTML = `
<div class="mb-4 px-4">
    <div class="row">
        <div class="col-auto">
            <button onclick="backToList()" class="btn btn-secondary mt-3">Back</button>
        </div>
        <div class="col-auto">
            ${rejectButtonHtml}
        </div>
        <div class="col-auto">
            ${acceptButtonHtml}
        </div>
    </div>

    <div class="card mt-3 shadow-sm border" style="background-color: rgba(255, 255, 255, 0.6)">
        <div class="card-body">
            <div id="application-container"></div>
            <h3 class="card-title text-center mb-3">${data.title}</h3>
            <div class="text-center mb-3">
                <img src="${data.image_url}" class="img-fluid rounded border" alt="Exhibition Image" style="max-width: 100%; height: auto; max-height: 300px;">
            </div>

            ${applicationHtml}

            <div class="mb-3">
                <strong><i class="bi bi-clock"></i> Time:</strong>
                <p class="card-text">${new Date(data.start_at).toLocaleString()} - ${new Date(data.end_at).toLocaleString()}</p>
            </div>
            <div class="mb-3">
                <strong><i class="bi bi-layers"></i> Stage:</strong>
                <p class="card-text">${data.stage}</p>
            </div>
            <hr>
            <div class="text-muted text-center mt-1">
                <small>
                    <i class="bi bi-person-fill"></i> Applicant: ${data.applicant}
                </small>
            </div>
        </div>
    </div>      
</div>
`;
                        })
                        .catch(error => console.error('Error loading the message details:', error));
                }

                function backToList() {
                    window.location.reload(); // Reload the current page to show the message list again
                }

                function rejectApplication() {
                    const token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;  // 获取 CSRF 令牌
                    const url = `{% url 'User:reject_application' 'exhibition' 999 %}`.replace('exhibition', '{{ applications_type }}').replace('999', currentId);  // 确保 URL 正确
                    const container = document.getElementById('application-container');

                    // 显示确认对话框
                    const confirmed = window.confirm("Are you sure you want to reject the application?\n\nThis action cannot be undone! 😱");

                    // 如果用户确认执行拒绝操作
                    if (confirmed) {
                        axios.post(url, {}, {
                            headers: {
                                'X-CSRFToken': token  // 请求头中包含 CSRF 令牌
                            }
                        })
                            .then(response => {
                                if (response.data.success) {
                                    container.innerHTML = `<div class="alert alert-success">${response.data.success}</div>`;
                                    setTimeout(() => {
                                        window.location.reload();  // 重新加载页面以更新消息列表
                                    }, 1500);
                                } else {
                                    container.innerHTML = `<div class="alert alert-danger">${response.data.error}</div>`;
                                    container.style.display = 'block';  // 确保消息容器可见
                                }
                            })
                            .catch(error => {
                                // 记录或处理错误
                                console.error(error);
                                container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                                container.style.display = 'block';  // 确保消息容器可见
                            });
                    }
                }


                function acceptApplication() {
                    const token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;  // 获取 CSRF 令牌
                    const url = `{% url 'User:accept_application' 'exhibition' 999 %}`.replace('exhibition', '{{ applications_type }}').replace('999', currentId);  // 确保 URL 正确
                    const container = document.getElementById('application-container');

                    // 显示确认对话框
                    const confirmed = window.confirm("Are you sure you want to accept the application? 🐱");

                    // 如果用户确认执行拒绝操作
                    if (confirmed) {
                        axios.post(url, {}, {
                            headers: {
                                'X-CSRFToken': token  // 请求头中包含 CSRF 令牌
                            }
                        }).then(response => {
                            if (response.data.success) {
                                container.innerHTML = `<div class="alert alert-success">${response.data.success}</div>`;
                                setTimeout(() => {
                                    window.location.reload();  // 重新加载页面以更新消息列表
                                }, 1500);
                            } else {
                                container.innerHTML = `<div class="alert alert-danger">${response.data.error}</div>`;
                                container.style.display = 'block';  // 确保消息容器可见
                            }
                        })
                            .catch(error => {
                                // 记录或处理错误
                                console.error(error);
                                container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                                container.style.display = 'block';  // 确保消息容器可见
                            });
                    }
                }

                function submitReply() {
                    const title = document.getElementById('messageTitle').value.trim();
                    const content = document.getElementById('messageContent').value.trim();
                    const token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;  // Get CSRF token
                    const url = `{% url 'User:reply_message' 999 %}`.replace('999', currentId);  // Ensure the URL is correct
                    const container = document.getElementById('reply-container');

                    axios.post(url, {
                        title: title,
                        content: content
                    }, {
                        headers: {
                            'X-CSRFToken': token  // Include CSRF token in the request headers
                        }
                    }).then(response => {
                        if (response.data.success) {
                            container.innerHTML = `<div class="alert alert-success">${response.data.success}</div>`;
                            const modal = bootstrap.Modal.getInstance(document.getElementById('replyModal'));
                            setTimeout(() => {
                                modal.hide();  // 隐藏模态框
                                window.location.reload();  // 重新加载页面以更新消息列表
                            }, 1500);
                        } else {
                            container.innerHTML = `<div class="alert alert-danger">${response.data.error}</div>`;
                            container.style.display = 'block';  // Make sure the message container is visible
                        }
                    }).catch(error => {
                        // 记录或处理错误
                        console.error(error);
                        container.innerHTML = `<div class="alert alert-danger">${error.response.data.error}</div>`;
                        container.style.display = 'block';  // Make sure the message container is visible
                    });
                }

                window.loadMessageDetail = loadMessageDetail;
                window.loadApplicationDetail = loadApplicationDetail;
                window.backToList = backToList;
                window.openReplyModal = openReplyModal;
                window.rejectApplication = rejectApplication;
                window.acceptApplication = acceptApplication;
                window.submitReply = submitReply;
            }
        );
    </script>

{% endblock %}