{% extends "Public/base.html" %}
{% load static %}

{% block extra_head %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/User/profile.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Venue:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-5 profile-container">
        <div class="card mt-5 shadow-lg">
            <div class="card-header text-white">
                <br>
                <h2 class="profile-title mb-3">User Profile</h2>
            </div>
            <div class="card-body bg-light text-dark">
                <form id="profile-form" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <label for="username" class="form-label font-artistic">Username:</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       value="{{ user.username }}" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label font-artistic">Email:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       value="{{ user.email }}" required>
                                <div class="invalid-feedback">
                                    Please provide a valid email.
                                </div>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-md-6">
                                <label for="password" class="form-label font-artistic">Password:</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Enter new password">
                            </div>
                            <div class="col-md-6">
                                <label for="confirm_password" class="form-label font-artistic">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirm_password"
                                       name="confirm_password" placeholder="Confirm new password">
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-artistic">User Type:</label>
                                <input type="text" class="form-control-plaintext" id="user_type" name="user_type"
                                       value="{{ user_type }}" readonly>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-artistic">Account Created:</label>
                                <input type="text" class="form-control-plaintext" id="account_created"
                                       name="account_created" value="{{ user.date_joined|date:'Y-m-d' }}" readonly>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success save-btn" onclick="submitProfileForm()">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function submitProfileForm() {
            const formElement = document.getElementById('profile-form');
            const formData = new FormData(formElement);
            axios.post('{% url 'User:profile' %}', formData)
                .then(function (response) {
                    if (response.data.message) {
                        alert(response.data.message); // 展示成功消息
                    } else {
                        // 如果没有消息，提供默认反馈
                        alert("Success, but no message returned from server.");
                    }
                })
                .catch(function (error) {
                    if (error.response && error.response.data.error) {
                        alert(error.response.data.error); // 展示错误消息
                    } else {
                        // 如果没有错误消息，提供默认反馈
                        alert("Error occurred without specific message from server.");
                    }
                });
        }
    </script>
{% endblock %}
