{% extends "Public/base.html" %}
{% load static %}

{% block extra_head %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/User/profile.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Venue:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-5 profile-container">
        <div class="card mt-5 shadow-lg">
            <div class="card-header text-white">
                <br>
                <h2 class="profile-title mb-3">User Profile</h2>
            </div>
            <div class="card-body bg-light text-dark">
                <form id="profile-form" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <label for="username" class="form-label font-artistic">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label font-artistic">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                                <div class="invalid-feedback">
                                    Please provide a valid email.
                                </div>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-md-6">
                                <label for="password" class="form-label font-artistic">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
                            </div>
                            <div class="col-md-6">
                                <label for="confirm_password" class="form-label font-artistic">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm new password">
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-artistic">User Type:</label>
                                <input type="text" class="form-control-plaintext" id="user_type" name="user_type" value="{{ user_type }}" readonly>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-artistic">Account Created:</label>
                                <input type="text" class="form-control-plaintext" id="account_created" name="account_created" value="{{ user.date_joined|date:'Y-m-d' }}" readonly>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success save-btn" onclick="submitProfileForm()">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% if user_type == 'Organizer' %}
                <div class="exhibition-list mt-4">
                    <h3>Your Exhibitions</h3>
                    <ul>
                        {% for exhibition in exhibition_page_obj %}
                        <li>{{ exhibition.exhibition.name }} - {{ exhibition.exhibition.start_at|date:'Y-m-d' }}</li>
                        {% endfor %}
                    </ul>
                    <div class="pagination">
                        <span class="step-links">
                            {% if exhibition_page_obj.has_previous %}
                                <a href="?exhibition_page=1">&laquo; first</a>
                                <a href="?exhibition_page={{ exhibition_page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ exhibition_page_obj.number }} of {{ exhibition_page_obj.paginator.num_pages }}.
                            </span>
                            {% if exhibition_page_obj.has_next %}
                                <a href="?exhibition_page={{ exhibition_page_obj.next_page_number }}">next</a>
                                <a href="?exhibition_page={{ exhibition_page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% elif user_type == 'Exhibitor' %}
                <div class="exhibition-list mt-4">
                    <h3>Your Exhibitions</h3>
                    <ul>
                        {% for exhibition in exhibition_page_obj %}
                        <li>{{ exhibition.exhibition.name }} - {{ exhibition.exhibition.start_at|date:'Y-m-d' }}</li>
                        {% endfor %}
                    </ul>
                    <div class="pagination">
                        <span class="step-links">
                            {% if exhibition_page_obj.has_previous %}
                                <a href="?exhibition_page=1">&laquo; first</a>
                                <a href="?exhibition_page={{ exhibition_page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ exhibition_page_obj.number }} of {{ exhibition_page_obj.paginator.num_pages }}.
                            </span>
                            {% if exhibition_page_obj.has_next %}
                                <a href="?exhibition_page={{ exhibition_page_obj.next_page_number }}">next</a>
                                <a href="?exhibition_page={{ exhibition_page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="booth-list mt-4">
                    <h3>Your Booths</h3>
                    <ul>
                        {% for booth in booth_page_obj %}
                        <li>{{ booth.booth.name }} - {{ booth.booth.start_at|date:'Y-m-d' }}</li>
                        {% endfor %}
                    </ul>
                    <div class="pagination">
                        <span class="step-links">
                            {% if booth_page_obj.has_previous %}
                                <a href="?booth_page=1">&laquo; first</a>
                                <a href="?booth_page={{ booth_page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ booth_page_obj.number }} of {{ booth_page_obj.paginator.num_pages }}.
                            </span>
                            {% if booth_page_obj.has_next %}
                                <a href="?booth_page={{ booth_page_obj.next_page_number }}">next</a>
                                <a href="?booth_page={{ booth_page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function submitProfileForm() {
            const formElement = document.getElementById('profile-form');
            const formData = new FormData(formElement);
            axios.post('{% url 'User:profile' %}', formData)
                .then(function (response) {
                    if (response.data.message) {
                        alert(response.data.message); // 展示成功消息
                    } else {
                        alert("Success, but no message returned from server.");
                    }
                })
                .catch(function (error) {
                    if (error.response && error.response.data.error) {
                        alert(error.response.data.error); // 展示错误消息
                    } else {
                        alert("Error occurred without specific message from server.");
                    }
                });
        }
    </script>
{% endblock %}