{% extends "Public/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/User/profile.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Venue:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    {% if user_type == 'Organizer' or user_type == 'Exhibitor' %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-5">
                        <div class="card-header text-white">
                            <br>
                            <h2 class="profile-title mb-3">User Profile</h2>
                        </div>
                        <!-- Form Column -->
                        <div class="card-body text-dark">
                            <form id="profile-form" class="needs-validation" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- Username and Email Fields -->
                                    <div>
                                        <label for="username" class="form-label font-artistic">Username:</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                               value="{{ user.username }}" required>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="email" class="form-label font-artistic">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                               value="{{ user.email }}" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid email.
                                        </div>
                                    </div>
                                    <!-- Password and Confirm Password Fields -->
                                    <div>
                                        <label for="password" class="form-label font-artistic">Password:</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="Enter new password">
                                    </div>
                                    <div>
                                        <label for="confirm_password" class="form-label font-artistic">Confirm
                                            Password:</label>
                                        <input type="password" class="form-control" id="confirm_password"
                                               name="confirm_password" placeholder="Confirm new password">
                                    </div>


                                    <!-- User Type and Account Created Fields -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label font-artistic">User Type:</label>
                                        <input type="text" class="form-control-plaintext" id="user_type"
                                               name="user_type" value="{{ user_type }}" readonly>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label font-artistic">Account Created:</label>
                                        <input type="text" class="form-control-plaintext" id="account_created"
                                               name="account_created" value="{{ user.date_joined|date:'Y-m-d' }}"
                                               readonly>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        <button type="submit" class="btn btn-success save-btn"
                                                onclick="submitProfileForm()">
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 d-flex">
                    <div class="card mt-5 shadow-lg">
                        <!-- Exhibitions or Booths Column -->
                        <div class="col-md-12">
                            {% if user_type == 'Organizer' %}
                                <div class="card-header text-white transparent-card-header">
                                    <br>
                                    <h2 class="profile-title mb-3">Your Exhibitions</h2>
                                </div>
                                <div class="table-responsive"
                                     style="margin: 1rem; user-select: none; height: 400px">
                                    <table class="table table-hover text-dark">
                                        <thead class="text-white">
                                        <tr>
                                            <th></th>
                                            <th>Exhibition Name</th>
                                            <th>Description</th>
                                            <th>Organizer</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for exhibition in page_obj %}
                                            <tr onclick="window.location.href='{% url 'Exhibition:exhibition' exhibition.exhibition.id %}';"
                                                style="cursor: pointer;">
                                                <td><img
                                                        src="{{ exhibition.exhibition.image.url|default:'../../static/images/Public/poster.jpg' }}"
                                                        alt="No Poster" class="exhibition-img"
                                                        style="width: 100px; height: 80px;"></td>
                                                <td>{{ exhibition.exhibition.name }}</td>
                                                <td>{{ exhibition.exhibition.description }}</td>
                                                <td>{{ exhibition.exhibition.organizer.detail.username }}</td>
                                                <td>{{ exhibition.exhibition.start_at|date:"Y-m-d H:i" }}</td>
                                                <td>{{ exhibition.exhibition.end_at|date:"Y-m-d H:i" }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="8" class="text-center">No exhibitions found. 💤</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% elif user_type == 'Exhibitor' %}
                                <div class="mt-4">
                                    <div class="card-header text-white transparent-card-header">
                                        <br>
                                        <h2 class="profile-title mb-3">Your Booths</h2>
                                    </div>
                                    <div class="table-responsive"
                                         style="margin: 1rem; user-select: none;">
                                        <table class="table table-hover text-dark">
                                            <thead class="bg-dark">
                                            <tr>
                                                <th></th>
                                                <th>Booth Name</th>
                                                <th>Description</th>
                                                <th>Sector</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for booth in page_obj %}
                                                <tr onclick="window.location.href='{% url 'Booth:booth' booth.booth.id %}';"
                                                    style="cursor: pointer;">
                                                    <td><img
                                                            src="{{ booth.booth.image.url|default:'../../static/images/Public/poster.jpg' }}"
                                                            alt="No Poster" class="booth-img"
                                                            style="width: 100px; height: 80px;">
                                                    </td>
                                                    <td>{{ booth.booth.name }}</td>
                                                    <td>{{ booth.booth.description }}</td>
                                                    <td>{{ booth.booth.sector.name }}</td>
                                                    <td>{{ booth.booth.start_at|date:"Y-m-d H:i" }}</td>
                                                    <td>{{ booth.booth.end_at|date:"Y-m-d H:i" }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="6" class="text-center">No booths found. 💤</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- 分页按键 -->
                            <nav aria-label="Page navigation" class="d-flex justify-content-center">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1"
                                               aria-label="First">
                                                <span aria-hidden="true">&laquo;&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.previous_page_number }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item disabled">
                                                <span class="page-link"
                                                      style="background-color: rgba(255, 255, 255, 0.4)">
                                                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                                                </span>
                                    </li>
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.paginator.num_pages }}"
                                               aria-label="Last">
                                                <span aria-hidden="true">&raquo;&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% elif user_type == 'Manager' %}
        <div class="container mt-5 profile-container">
            <div class="card mt-5 shadow-lg">
                <div class="card-header text-white">
                    <br>
                    <h2 class="profile-title mb-3">User Profile</h2>
                </div>
                <div class="card-body bg-light text-dark">
                    <form id="profile-form" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <label for="username" class="form-label font-artistic">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           value="{{ user.username }}" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label font-artistic">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           value="{{ user.email }}"
                                           required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                            </div>

                            <div class="row g-4">
                                <div class="col-md-6">
                                    <label for="password" class="form-label font-artistic">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Enter new password">
                                </div>
                                <div class="col-md-6">
                                    <label for="confirm_password" class="form-label font-artistic">Confirm
                                        Password:</label>
                                    <input type="password" class="form-control" id="confirm_password"
                                           name="confirm_password"
                                           placeholder="Confirm new password">
                                </div>
                            </div>

                            <div class="row g-4">
                                <div class="col-md-6">
                                    <label for="Authorization Code" class="form-label font-artistic">Authorization
                                        Code:</label>
                                    <input type="text" class="form-control" id="authorization_code"
                                           name="authorization_code" value="{{ authorization_code }}" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid Authorization Code.
                                    </div>
                                </div>
                            </div>

                            <div class="row g-4">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label font-artistic">User Type:</label>
                                    <input type="text" class="form-control-plaintext" id="user_type" name="user_type"
                                           value="{{ user_type }}" readonly>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label font-artistic">Account Created:</label>
                                    <input type="text" class="form-control-plaintext" id="account_created"
                                           name="account_created" value="{{ user.date_joined|date:'Y-m-d' }}" readonly>
                                </div>
                            </div>

                            <div class="row g-4">
                                <div class="col-md-12 d-flex justify-content-between align-items-center">
                                    <a href="{% url 'admin:index' %}" class="btn btn-primary">
                                        View Console
                                    </a>
                                    <button type="submit" class="btn btn-success save-btn"
                                            onclick="submitProfileForm()">Save
                                        Changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block scripts %}
    <script>
        function submitProfileForm() {
            const formElement = document.getElementById('profile-form');
            const formData = new FormData(formElement);
            axios.post('{% url 'User:profile' %}', formData)
                .then(function (response) {
                    if (response.data.message) {
                        alert(response.data.message); // 展示成功消息
                    } else {
                        alert("Success, but no message returned from server.");
                    }
                })
                .catch(function (error) {
                    if (error.response && error.response.data.error) {
                        if (error.response.data.authorizationCode) {
                            // 如果后端返回了关于授权码的错误
                            alert(error.response.data.authorizationCode);
                        } else {
                            alert("Error occurred without specific message from server.");
                        }
                    }
                });
        }
    </script>
{% endblock %}