{% extends "Public/base.html" %}
{% load static %}

{% block extra_head %}
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/User/register.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="register-title mb-3">Register</h2>
                <form action="{% url 'User:register' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger">
                                {{ form.username.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger">
                                {{ form.email.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="account_type" class="form-label">Account Type:</label>
                        <select name="account_type" id="account_type" class="form-control" required>
                            <option value="" selected disabled>Select Account Type</option>
                            <option value="Organizer">Organizer</option>
                            <option value="Exhibitor">Exhibitor</option>
                            <option value="Manager">Manager</option>
                        </select>
                        {% if form.authorization_code.errors %}
                            <div class="alert alert-danger">
                                {{ form.authorization_code.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group" id="auth-code-group" style="display:none;">
                        <label for="authorization_code" class="form-label">Authorization Code:</label>
                        <input type="text" class="form-control" id="authorization_code" name="authorization_code">
                    </div>

                    <div class="form-group">
                        <label for="password1" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">
                                {{ form.password1.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="password2" class="form-label">Password Confirmation:</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                        {% if form.password2.errors %}
                            <div class="alert alert-danger">
                                {{ form.password2.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                
                    <div class="form-group">
                        <a href="{% url 'User:login' %}" class="btn btn-link">Already have an account? Log in</a>
                    </div>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('account_type').addEventListener('change', function () {
            var authCodeGroup = document.getElementById('auth-code-group');
            if (this.value === 'Manager') {
                authCodeGroup.style.display = 'block';
            } else {
                authCodeGroup.style.display = 'none';
            }
        });
    </script>
{% endblock %}
