html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* 设定主轴为垂直方向 */
    background: linear-gradient(rgba(224, 224, 224, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/Public/poster.jpg') no-repeat center center fixed;
    background-size: cover;
}

body, p, h1, h2, h3, h4, h5, h6, div {
    cursor: default; /* 设置默认光标 */
    user-select: none; /* 防止文本被选中 */
}

/*导航栏样式: */
/*--------------------------------------------------------------*/
/* 基础导航栏样式 */
.navbar {
    background-color: #343a40; /* 深灰色背景 */
    border-bottom: 3px solid #009631; /* 添加一个橙色边框在底部 */
}

/* 导航栏品牌LOGO样式 */
.navbar-brand {
    font-weight: bold; /* 加粗字体 */
    color: #ffffff; /* 白色文字 */
}

/* 导航栏链接样式 */
.nav-link {
    color: #f8f9fa; /* 浅灰色文字 */
    transition: color 0.3s ease; /* 平滑颜色过渡效果 */
}

/* 导航栏链接悬停与焦点样式 */
.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #009631; /* 高亮 */
    text-decoration: none; /* 去除下划线 */
}

/* 导航栏当前活动链接样式 */
.nav-item.active .nav-link {
    background-color: #009631; /* 背景 */
    color: #fff; /* 白色文字 */
}

/* 响应式导航按钮样式 */
.navbar-toggler {
    border-color: #009631; /* 边框 */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(00, 96, 31, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* 自定义导航按钮图标颜色 */
}

/* 提示：确保导航栏容器使用正确的CSS类 */
.public-base-navigation .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%; /* 确保容器宽度为100% */
}


/*页面内容样式*/
/*--------------------------------------------------------------*/
.public-base-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%; /* 确保宽度填满父容器 */
}


/*页脚样式*/
/*--------------------------------------------------------------*/
/* 页脚样式 */
.public-base-footer {
    background: linear-gradient(180deg, rgba(52, 58, 64, 0.8), rgba(52, 58, 64, 1)); /* 渐变背景 */
    color: #f8f9fa; /* 浅灰色文字 */
    text-align: center;
    border-top: 4px solid #009631; /* 边框 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* 向上的阴影效果 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 优雅的字体 */
}

/* 页脚链接样式 */
.public-base-footer a {
    color: #ffffff; /* 白色链接 */
    text-decoration: none; /* 去除下划线 */
    transition: color 0.2s ease-in-out; /* 平滑颜色过渡效果 */
}

/* 页脚链接悬停效果 */
.public-base-footer a:hover {
    color: #009631; /* 高亮 */
}

/* 页脚图片样式 */
.public-base-footer img {
    vertical-align: middle; /* 垂直对齐 */
    border-style: none; /* 无边框 */
    margin: 0 10px; /* 图片间距 */
}

/*--------------------------------------------------------------*/
/* Toast样式 */
.toast-container {
    top: 20px; /* 距离顶部20px */
}

.toast {
    border-left: 4px solid #009631; /* 给Toast添加左侧边框 */
    background-color: #fff; /* 设置Toast的背景颜色 */
    color: #343a40; /* 设置Toast的文字颜色 */
}

.toast-header {
    background-color: #f8f9fa; /* 设置Toast头部的背景颜色 */
    border-bottom: 1px solid #e2e3e5; /* 设置Toast头部的底部边框 */
    color: #6c757d; /* 设置Toast头部的文字颜色 */
}

.toast-body {
    padding: 10px; /* 设置Toast内容的内边距 */
}

/* 成功消息样式 */
.toast-success {
    border-left: 4px solid #28a745; /* 绿色边框 */
}

/* 警告消息样式 */
.toast-warning {
    border-left: 4px solid #ffc107; /* 橙色边框 */
}

/* 错误消息样式 */
.toast-error {
    border-left: 4px solid #dc3545; /* 红色边框 */
}

/* 表格全局样式 */
.table {
    color: #f0f0f0; /* 使用较亮的字体颜色，如浅灰色或纯白色 */
    background-color: rgba(255, 255, 255, 0.1); /* 表格背景半透明，稍微调整透明度 */
    border: 1px solid #444; /* 边框颜色 */
    border-radius: 0.5rem; /* 边框圆角 */
    width: 100%; /* Ensures the table spans the full width */
    margin-bottom: 0; /* Removes bottom margin */
}

/* 表格头部样式 */
.table thead {
    background-color: rgba(183, 183, 183, 0.8); /* 表头背景半透明 */
    color: #9d9d9d; /* 表头字体颜色，使用纯白色 */
    border-radius: 0.5rem;
}

/* 表格单元格样式 */
.table th, .table td {
    color: #ffffff; /* 使用纯白色字体颜色 */
    background-color: rgba(183, 183, 183, 0.8); /* 单元格背景透明 */
    border: none; /* 无边框 */
    padding: 0.75rem; /* 内边距 */
    text-align: center; /* Centers text in all cells */
}

/* 表格行悬停时的样式 */
.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 行背景变亮且半透明 */
}

.table tbody td {
    vertical-align: middle; /* Aligns content of table cells vertically centered */
}

.table img {
    width: auto; /* 自动调整宽度以保持图片比例 */
    max-height: 100px; /* 限制图片最大高度 */
    margin: auto; /* 居中显示 */
    display: block; /* 块级显示 */
}

h2 {
    font-family: 'Arial', sans-serif; /* Cleaner, more modern font */
    font-size: 36px; /* Suitable font size */
    font-weight: bold; /* Bold for better visibility */
    color: #f8f9fa; /* Light color for better contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
    margin: 20px 0; /* Adequate spacing around the title */
}

h2 a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
}

h2 a:hover {
    color: #28a745; /* Inherits color from parent element */
}

