html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(224, 224, 224, 0.4), rgba(205, 205, 205, 0.5)), url('../../images/Public/poster.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* overflow-x: hidden; Prevent scroll on narrow devices */
    transition: background 0.3s;
}

body.dark-mode {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(24, 24, 24, 0.9)), url('../../images/Public/poster.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* overflow-x: hidden; */
    transition: background 0.3s;
}

image, h1, h2, h3, h4, h5, h6 {
    user-select: none; /* 防止文本被选中 */
    cursor: default; /* 设置默认光标 */
}

/*导航栏样式: */
/*--------------------------------------------------------------*/
/* 基础导航栏样式 */
.navbar {
    background-color: #ececec; /* 深灰色背景 */
    border-bottom: 3px solid #62da00; /* 添加一个橙色边框在底部 */
    transition: background-color 0.3s;
}

.navbar.dark-mode {
    background-color: #1f1f1f;
    border-bottom: 3px solid #009631;
}

.navbar-brand {
    font-weight: bold;
    color: #1f1f1f;
    transition: color 0.3s ease;
}

.navbar-brand.dark-mode {
    color: #f0f0f0;
    transition: color 0.3s ease;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand.dark-mode:hover, .navbar-brand.dark-mode:focus {
    color: #009631;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link {
    color: #1f1f1f;
    transition: color 0.3s ease;
}

.nav-link.dark-mode {
    color: #f0f0f0;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #009631;
    text-decoration: none;
}

.nav-link.dark-mode:hover, .nav-link.dark-mode:focus, .nav-link.dark-mode:active {
    color: #28a745;
    text-decoration: none;
}

.nav-item.active .nav-link {
    background-color: #009631;
    color: #f0f0f0;
}

.nav-item.active.dark-mode .nav-link.dark-mode {
    background-color: #28a745;
    color: #fff;
}

.navbar-toggler {
    border-color: #009631;
}

.navbar-toggler.dark-mode {
    border-color: #28a745;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(00, 96, 31, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.public-base-navigation .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #6c757d;
    padding: 0 0.5rem;
}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}


/*页面内容样式*/
/*--------------------------------------------------------------*/
.public-base-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%; /* 确保宽度填满父容器 */
}


/*页脚样式*/
/*--------------------------------------------------------------*/
/* 页脚样式 */
.public-base-footer {
    background: #ececec;
    color: #1f1f1f;
    text-align: center;
    border-top: 4px solid #62da00; /* 边框 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* 向上的阴影效果 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 优雅的字体 */
    transition: background 0.3s;
}

.public-base-footer.dark-mode {
    background: #1f1f1f;
    color: #f0f0f0;
    text-align: center;
    border-top: 4px solid #009631;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* 向上的阴影效果 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 优雅的字体 */
    transition: background 0.3s;
}

/* 页脚链接样式 */
.public-base-footer a {
    color: #ffffff; /* 白色链接 */
    text-decoration: none; /* 去除下划线 */
    transition: color 0.2s ease-in-out; /* 平滑颜色过渡效果 */
}

/* 页脚链接悬停效果 */
.public-base-footer a:hover {
    color: #009631; /* 高亮 */
}

/* 页脚图片样式 */
.public-base-footer img {
    vertical-align: middle; /* 垂直对齐 */
    border-style: none; /* 无边框 */
    margin: 0 10px; /* 图片间距 */
}

/*--------------------------------------------------------------*/
/* Toast样式 */
.toast-container {
    top: 20px; /* 距离顶部20px */
}

.toast {
    border-left: 4px solid #62da00; /* 给Toast添加左侧边框 */
    background-color: #fff; /* 设置Toast的背景颜色 */
    color: #343a40; /* 设置Toast的文字颜色 */
}

.toast.dark-mode {
    border-left: 4px solid #009631; /* 更深的绿色边框 */
    background-color: #1f1f1f; /* 更深的背景颜色 */
    color: #f0f0f0; /* 更深的文字颜色 */
}

.toast-header {
    background-color: #f8f9fa; /* 设置Toast头部的背景颜色 */
    border-bottom: 1px solid #e2e3e5; /* 设置Toast头部的底部边框 */
    color: #6c757d; /* 设置Toast头部的文字颜色 */
}

.toast-header.dark-mode {
    background-color: #343a40; /* 更深的背景颜色 */
    border-bottom: 1px solid #343a40; /* 更深的底部边框 */
    color: #f0f0f0; /* 更深的文字颜色 */
}

.toast-body {
    padding: 10px; /* 设置Toast内容的内边距 */
}

/* 成功消息样式 */
.toast-success {
    border-left: 4px solid #28a745; /* 绿色边框 */
}

/* 警告消息样式 */
.toast-warning {
    border-left: 4px solid #ffc107; /* 橙色边框 */
}

/* 错误消息样式 */
.toast-error {
    border-left: 4px solid #dc3545; /* 红色边框 */
}

/* 表格全局样式 */
.table {
    color: #f0f0f0; /* 使用较亮的字体颜色，如浅灰色或纯白色 */
    background-color: rgba(255, 255, 255, 0.1); /* 表格背景半透明，稍微调整透明度 */
    border: 1px solid #444; /* 边框颜色 */
    border-radius: 0.5rem; /* 边框圆角 */
    width: 100%; /* Ensures the table spans the full width */
    margin-bottom: 0; /* Removes bottom margin */
}

/* 表格头部样式 */
.table thead {
    background-color: rgba(183, 183, 183, 0.8); /* 表头背景半透明 */
    color: #9d9d9d; /* 表头字体颜色，使用纯白色 */
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.table.dark-mode thead {
    background-color: rgba(34, 34, 34, 0.8); /* 更深的表头背景 */
    color: #f0f0f0; /* 更深的表头字体颜色 */
}

/* 表格单元格样式 */
.table th, .table td {
    color: #ffffff; /* 使用纯白色字体颜色 */
    background-color: rgba(183, 183, 183, 0.8); /* 单元格背景透明 */
    border: none; /* 无边框 */
    padding: 0.75rem; /* 内边距 */
    text-align: center; /* Centers text in all cells */
}

.table.dark-mode th, .table.dark-mode td {
    color: #f0f0f0; /* 更深的字体颜色 */
    background-color: rgba(34, 34, 34, 0.8); /* 更深的背景 */
    transition: background-color 0.3s;
}

/* 表格行悬停时的样式 */
.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 行背景变亮且半透明 */
    color: #f0f0f0; /* 更深的字体颜色 */
    transition: background-color 0.3s;
}

.table-hover.dark-mode tbody tr td:hover {
    background-color: rgba(34, 34, 34, 0.5); /* 更深的行背景 */
    color: #e9ecef; /* 更深的字体颜色 */
}

/*.table tbody td {*/
/*    vertical-align: middle; !* Aligns content of table cells vertically centered *!*/
/*}*/

.table img {
    width: auto; /* 自动调整宽度以保持图片比例 */
    max-height: 100px; /* 限制图片最大高度 */
    margin: auto; /* 居中显示 */
    display: block; /* 块级显示 */
}

h1 a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
}

h1 a:hover {
    color: #28a745; /* Inherits color from parent element */
}

/*--------------------------------------------------------------*/
/*card及其动画*/
.card {
    animation: fadeInUp 0.8s ease-out;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden; /* 确保图片圆角 */
    transition: background-color 0.3s;
}

.card.dark-mode {
    background-color: rgba(34, 34, 34, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    animation: fadeInUp 0.8s ease-out;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    overflow: hidden; /* 确保图片圆角 */
    transition: background-color 0.3s;
}

.card {
    transition: transform 0.5s ease; /* 添加图片缩放的过渡效果 */
}

.card.dark-mode {
    transition: transform 0.5s ease; /* 添加图片缩放的过渡效果 */
}

.card-columns {
    column-count: 2; /* Adjust based on preference, 2 for two columns */
    column-gap: 5rem;
}

.card:hover {
    transform: scale(1.02); /* 当鼠标悬停时放大图片 */
}

.card-title {
    color: #1f1f1f;
}

.card-title.dark-mode {
    color: #f0f0f0;
}

.logo-title {
    font-size: 48px; /* 增加字体大小 */
    color: #2c3e50; /* 更新为更深、更专业的颜色 */
    font-weight: 700; /* 使用700的字重，前提是字体支持 */
    padding-top: 20px; /* 增加与页面顶部的空间 */
    font-family: 'Montserrat', sans-serif; /* 应用Roboto字体 */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* 添加轻微的文字阴影以增强可读性 */
    animation: fadeInLeft 1s ease-in-out;
    transition: all 0.3s ease-in-out; /* 平滑过渡效果 */
}

.logo-title.dark-mode {
    color: #4f7497;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 48px; /* 增加字体大小 */
    font-weight: 700; /* 使用700的字重，前提是字体支持 */
    padding-top: 20px; /* 增加与页面顶部的空间 */
    font-family: 'Montserrat', sans-serif; /* 应用Roboto字体 */
    animation: fadeInLeft 1s ease-in-out;
    transition: all 0.3s ease-in-out; /* 平滑过渡效果 */
}

.message-info {
    font-size: 3rem; /* 较大的字体大小 */
    font-weight: bold; /* 使用粗体 */
    color: #f0f0f0; /* 使用较亮的字体颜色 */
    width: 90%; /* 宽度接近全屏，但留有边距 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 文本阴影，增强可读性 */
    transition: all 0.3s ease-in-out; /* 平滑过渡效果 */
    animation: fadeInUp 1s ease-in-out; /* 应用动画 */
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.btn-primary {
    background-color: #218838; /* 柔和的绿色 */
    border-color: #1e7e34; /* 边框颜色略深 */
    /*min-width: 80px; TODO 跟子模板中的按钮宽度发生了冲突!!!*/
}

.btn-secondary {
    background-color: #6c757d; /* 更温暖的灰色 */
    border-color: #6c757d; /* 保持不变 */
    min-width: 80px;
}

.btn-danger {
    background-color: #b52b2b; /* 更柔和的红色 */
    border-color: #a02828; /* 边框颜色略深 */
    min-width: 80px; /* 最小宽度 */
}

/* 统一按钮文字颜色和样式 */
.btn {
    color: white; /* 统一文字颜色 */
    border-radius: 4px; /* 增加按钮圆角 */
}
