@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: background 0.3s;
    scroll-behavior: smooth;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(224, 224, 224, 0.4), rgba(205, 205, 205, 0.5)), url('../../images/Public/poster.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px); /* 高斯模糊效果 */
    z-index: -1;
}

body.dark-mode::before {
    background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(24, 24, 24, 0.9)), url('../../images/Public/poster.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
}


/*替代全局的height: 100%设置(导致页面无法滚动)*/
#main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

image, h1, h2, h3, h4, h5, h6 {
    user-select: none;
    cursor: default;
}

/*导航栏样式: */
/*--------------------------------------------------------------*/
/* 基础导航栏样式 */
.navbar {
    background-color: #ececec;
    border-bottom: 3px solid #62da00;
    transition: background-color 0.3s;
}

.navbar.dark-mode {
    background-color: #1f1f1f;
    border-bottom: 3px solid #009631;
}

.navbar-brand {
    color: #1f1f1f;
    transition: color 0.3s ease;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.navbar-brand.dark-mode {
    color: #f0f0f0;
    transition: color 0.3s ease;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand.dark-mode:hover, .navbar-brand.dark-mode:focus {
    color: #009631;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link {
    color: #1f1f1f;
    transition: color 0.3s ease;
}

.nav-link.dark-mode {
    color: #f0f0f0;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #009631;
    text-decoration: none;
}

.nav-link.dark-mode:hover, .nav-link.dark-mode:focus, .nav-link.dark-mode:active {
    color: #28a745;
    text-decoration: none;
}

.nav-item.active .nav-link {
    background-color: #009631;
    color: #f0f0f0;
}

.nav-item.active.dark-mode .nav-link.dark-mode {
    background-color: #28a745;
    color: #fff;
}

.navbar-toggler {
    border-color: #009631;
}

.navbar-toggler.dark-mode {
    border-color: #28a745;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(00, 96, 31, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.public-base-navigation .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #009631;
    padding: 0 0.5rem;
}

.breadcrumb-item a {
    color: #6c757d;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.breadcrumb-item.active {
    color: #009631;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}


/*页面内容样式*/
/*--------------------------------------------------------------*/
.public-base-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%; /* 确保宽度填满父容器 */
}


/*页脚样式*/
/*--------------------------------------------------------------*/
/* 页脚样式 */
.public-base-footer {
    background: #ececec;
    color: #1f1f1f;
    text-align: center;
    border-top: 4px solid #62da00;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: background 0.3s;
}

.public-base-footer.dark-mode {
    background: #1f1f1f;
    color: #f0f0f0;
    text-align: center;
    border-top: 4px solid #009631;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: background 0.3s;
}

/* 页脚链接样式 */
.public-base-footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

/* 页脚链接悬停效果 */
.public-base-footer a:hover {
    color: #009631;
}

/* 页脚图片样式 */
.public-base-footer img {
    vertical-align: middle;
    border-style: none;
    margin: 0 10px;
}

/*--------------------------------------------------------------*/
/* Toast样式 */
.toast-container {
    top: 20px;
}

.toast {
    border-left: 4px solid #62da00;
    background-color: #fff;
    color: #343a40;
}

.toast.dark-mode {
    border-left: 4px solid #009631;
    background-color: #1f1f1f;
    color: #f0f0f0;
}

.toast-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e2e3e5;
    color: #6c757d;
}

.toast-header.dark-mode {
    background-color: #343a40;
    border-bottom: 1px solid #343a40;
    color: #f0f0f0;
}

.toast-body {
    padding: 10px;
}

/* 成功消息样式 */
.toast-success {
    border-left: 4px solid #28a745;
}

/* 警告消息样式 */
.toast-warning {
    border-left: 4px solid #ffc107;
}

/* 错误消息样式 */
.toast-error {
    border-left: 4px solid #dc3545;
}


/* konva样式 */
#konva-container {
    position: relative;
    max-height: 65vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f0f0f050;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    animation: fadeInUp 1s ease-in-out;

/*    background-image: url('../../images/Layout/Grid_Blue.jpg'); !* 确保路径正确 *!
    background-size: cover; !* 覆盖整个容器 *!
    background-position: center; !* 居中背景图 *!
    background-repeat: no-repeat;*/
}

/* 表格全局样式 */
.table {
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #444;
    border-radius: 0.5rem;
    margin-bottom: 0;
}

/* 表格头部样式 */
.table thead {
    background-color: rgba(183, 183, 183, 0.8);
    color: #9d9d9d;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.table.dark-mode thead {
    background-color: rgba(34, 34, 34, 0.8);
    color: #f0f0f0;
}

/* 表格单元格样式 */
.table th, .table td {
    color: #ffffff;
    background-color: rgba(183, 183, 183, 0.8);
    border: none;
    padding: 0.75rem;
    text-align: center;
}

.table.dark-mode th, .table.dark-mode td {
    color: #f0f0f0;
    background-color: rgba(34, 34, 34, 0.8);
    transition: background-color 0.3s;
}

/* 表格行悬停时的样式 */
.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    transition: background-color 0.3s;
}

.table-hover.dark-mode tbody tr td:hover {
    background-color: rgba(34, 34, 34, 0.5);
    color: #e9ecef;
}

/*.table tbody td {*/
/*    vertical-align: middle; !* Aligns content of table cells vertically centered *!*/
/*}*/

.table img {
    width: auto;
    max-height: 100px;
    margin: auto;
    display: block;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    color: #28a745;
}

/*--------------------------------------------------------------*/
/*card及其动画*/
.card {
    animation: fadeInUp 0.8s ease-out;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
}

.card.dark-mode {
    background-color: rgba(34, 34, 34, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    animation: fadeInUp 0.8s ease-out;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.card {
    transition: transform 0.5s ease;
}

.card.dark-mode {
    transition: transform 0.5s ease;
}

.card-columns {
    column-count: 2;
    column-gap: 5rem;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    color: #1f1f1f;
}

.card-title.dark-mode {
    color: #f0f0f0;
}

.logo-title {
    font-size: 48px;
    color: #2c3e50;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInLeft 1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo-title.dark-mode {
    color: #3c5670;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 48px;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    animation: fadeInLeft 1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.message-info {
    font-size: 3rem;
    font-weight: bold;
    color: #f0f0f0;
    width: 90%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-primary {
    background-color: #218838;
    border-color: #1e7e34;
    /*min-width: 80px; TODO 跟子模板中的按钮宽度发生了冲突!!!*/
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    min-width: 80px;
}

.btn-danger {
    background-color: #b52b2b;
    border-color: #a02828;
    min-width: 80px;
}

/* 统一按钮文字颜色和样式 */
.btn {
    color: white;
    border-radius: 4px;
}


/* 滚动到顶部按钮 */
#scroll-to-top {
    position: fixed;
    bottom: 240px;
    right: 10px;
    z-index: 3000;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: display 0.3s ease-in-out;
}

#scroll-detector {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    pointer-events: none;
}
