body {
    min-height: 100%;
    display: flex;
}

html {
}

main {
    height: 100%;
    display: flex;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.sidebar {
    max-height: 100%;
    background-color: #ececec;
    width: 240px;
    min-height: 95vh;
    position: sticky;
    border-right: 3px solid #62da00;
    transition: width 0.3s ease-in-out;
}

.sidebar.dark-mode {
    background-color: #1f1f1f;
    border-right: 3px solid #009631;
    color: #fff;
}

.nav-link.active {
    background-color: #009631;
    color: white;
    border-radius: 0.25rem;
}

.nav-link.active.dark-mode {
    background-color: #005622;
}

/* 导航栏当前活动链接样式 */
.nav-item.active .nav-link {
    background-color: #009631;
    color: #f0f0f0;
}

.sidebar {
    transition: width 0.3s ease-in-out;
    min-height: 1000vh;
}

.sidebar-title {
    color: #6c757d;
}

.sidebar-title:hover {
    color: #6c757d;
}

/* 父级菜单项的样式 */
.nav-pills .nav-link {
    color: #6c757d;;
    font-weight: bold;
    transition: background-color 0.3s;
}

.nav-pills .nav-link:hover {
    background-color: #009631;
    color: white;
    transition: background-color 0.3s;
}

/* 子菜单项的样式 */
.child-menu .nav-link {
    background-color: #b5b5b5;
    color: #6c757d;
    padding-left: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

/* 子菜单项的 hover 效果 */
.child-menu .nav-link:hover {
    /*background-color: #383838;*/
    /*color: #1f1f1f;*/
    background-color: #009631;
    color: white;
}

/* 激活状态的菜单项 */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #009631;
    color: white;
}

/* 子菜单项的激活状态 */
.child-menu .nav-link.active {
    /*background-color: #005622; !* 更深的激活背景色 *!*/
    background-color: #009631;
    color: white;
}

/* 折叠图标样式 */
.toggle-icon {
    transition: transform 0.3s ease;
}

/* 折叠图标打开状态 */
.toggle-icon.collapsed {
    transform: rotate(90deg);
}

/* 修改图标样式 */
.toggle-icon i {
    transition: transform 0.3s ease, color 0.3s ease;
}

.toggle-icon i.collapsed {
    transform: rotate(90deg);
    color: #009631;
}




